workflows/n8n/intraday/00_delivery_smoke_test.json
{
  "name": "Intraday — 00 Delivery Smoke Test",
  "nodes": [
    {
      "parameters": {},
      "id": "b0c0d0e0-0000-0001-0000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build a mock delivery payload matching the intraday_delivery_payload contract.\n// This alert is not written to D1 — it only tests the Telegram and Discord\n// delivery paths end to end.\nconst now = new Date().toISOString();\nconst dateKey = now.slice(0, 10);\n\nreturn [{\n  json: {\n    items: [{\n      item_id:          'delivery-smoke-' + Date.now(),\n      alert_id:         null,\n      cluster_id:       null,\n      topic_slug:       'crypto',\n      headline:         '[Delivery Smoke Test] Verifying Telegram and Discord — ' + now,\n      summary_text:     'Synthetic alert sent by the delivery smoke test workflow to verify that Telegram and Discord channels are correctly wired.',\n      source_url:       'https://example.com/delivery-smoke-test',\n      source_name:      'Smoke Test',\n      severity_score:   50,\n      importance_score: 70,\n      confidence_score: 99,\n      event_at:         now,\n      date_key:         dateKey,\n      cluster_label:    'Delivery Smoke Test',\n      channels:         ['telegram', 'discord']\n    }]\n  }\n}];"
      },
      "id": "b0c0d0e0-0000-0001-0000-000000000002",
      "name": "Build Mock Delivery Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Expand alerts and format Telegram messages.\nconst input = $input.first().json;\nconst items = Array.isArray(input.items) ? input.items : [];\n\nconst escHtml = (s) =>\n  (s || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\\\"/g, '&quot;');\n\nconst topicEmoji = {\n  crypto: '🪙', finance: '📈', economy: '🏦',\n  health: '🏥', ai: '🤖', energy: '⚡', technology: '💻'\n};\n\nreturn items\n  .filter(i => (i.channels || []).includes('telegram'))\n  .map(item => {\n    const emoji = topicEmoji[item.topic_slug] || '📰';\n    const importanceBar = '🟩'.repeat(Math.round(item.importance_score / 20))\n      + '⬜'.repeat(5 - Math.round(item.importance_score / 20));\n    const sourceLink = item.source_url\n      ? `\\n<a href=\"${escHtml(item.source_url)}\">Source: ${escHtml(item.source_name)}</a>`\n      : `\\nSource: ${escHtml(item.source_name)}`;\n    const text = [\n      `${emoji} <b>${item.topic_slug.toUpperCase()}</b>  |  Importance: ${importanceBar} ${item.importance_score}/100`,\n      '',\n      `<b>${escHtml(item.headline)}</b>`,\n      '',\n      escHtml(item.summary_text),\n      sourceLink\n    ].join('\\n');\n    return { json: { ...item, telegram_text: text } };\n  });"
      },
      "id": "b0c0d0e0-0000-0001-0000-000000000003",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegram_text }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_web_page_preview": false
        }
      },
      "id": "b0c0d0e0-0000-0001-0000-000000000004",
      "name": "Send Telegram Test",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [900, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "TelegramBotApi"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Expand alerts and format Discord embeds.\nconst input = $('Build Mock Delivery Payload').first().json;\nconst items = Array.isArray(input.items) ? input.items : [];\n\nconst topicColor = {\n  crypto: 0xF7931A, finance: 0x2ECC71, economy: 0x3498DB,\n  health: 0xE74C3C, ai: 0x9B59B6, energy: 0xF1C40F, technology: 0x1ABC9C\n};\nconst topicEmoji = {\n  crypto: '🪙', finance: '📈', economy: '🏦',\n  health: '🏥', ai: '🤖', energy: '⚡', technology: '💻'\n};\n\nreturn items\n  .filter(i => (i.channels || []).includes('discord'))\n  .map(item => {\n    const emoji = topicEmoji[item.topic_slug] || '📰';\n    const color = topicColor[item.topic_slug] || 0x95A5A6;\n    const tsRaw = item.event_at;\n    const timestamp = (tsRaw && !isNaN(Date.parse(tsRaw))) ? tsRaw : new Date().toISOString();\n    const embed = {\n      title: `${emoji} ${item.headline}`,\n      description: item.summary_text,\n      color,\n      fields: [\n        { name: 'Topic', value: item.topic_slug.charAt(0).toUpperCase() + item.topic_slug.slice(1), inline: true },\n        { name: 'Importance', value: `${item.importance_score}/100`, inline: true },\n        { name: 'Severity', value: `${item.severity_score}/100`, inline: true }\n      ],\n      footer: { text: item.source_name },\n      timestamp\n    };\n    if (item.source_url) embed.url = item.source_url;\n    return { json: { ...item, discord_payload: { embeds: [embed] } } };\n  });"
      },
      "id": "b0c0d0e0-0000-0001-0000-000000000005",
      "name": "Format Discord Embed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "url": "={{ $vars.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.discord_payload }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "b0c0d0e0-0000-0001-0000-000000000006",
      "name": "Send Discord Test",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Collect results from both delivery channels.\nconst tgResponse = $('Send Telegram Test').first().json;\nconst dcResponse = $('Send Discord Test').first().json;\n\nconst tgOk = tgResponse.ok === true || !!tgResponse.result?.message_id;\nconst dcOk = !dcResponse.error && !dcResponse.message;\n\nconst summary = {\n  telegram: {\n    status: tgOk ? 'SUCCESS' : 'FAILED',\n    message_id: tgResponse.result?.message_id || null,\n    error: tgOk ? null : (tgResponse.description || tgResponse.error || 'Unknown error')\n  },\n  discord: {\n    status: dcOk ? 'SUCCESS' : 'FAILED',\n    message_id: dcResponse.id || null,\n    error: dcOk ? null : (dcResponse.message || dcResponse.error || 'Unknown error')\n  },\n  overall: (tgOk && dcOk) ? '✅ Both channels delivered successfully' : '⚠️ One or more channels failed — check details above'\n};\n\nconsole.log(JSON.stringify(summary, null, 2));\nreturn [{ json: summary }];"
      },
      "id": "b0c0d0e0-0000-0001-0000-000000000007",
      "name": "Collect Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Mock Delivery Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mock Delivery Payload": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Discord Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "Send Telegram Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Test": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Discord Embed": {
      "main": [
        [
          {
            "node": "Send Discord Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Discord Test": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "id": "intraday-00-delivery-smoke-test-v1",
  "tags": [
    "intraday",
    "smoke-test",
    "telegram",
    "discord",
    "delivery",
    "v1"
  ]
}
