workflows/n8n/intraday/01_source_ingestion.json
{
  "name": "Intraday \u2014 01 Source Ingestion",
  "nodes": [
    {
      "parameters": {},
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Emit one item per configured source.\n// Sources are read from the workflow variable INTRADAY_SOURCES_JSON,\n// which is a JSON array of source configuration objects.\n// Default sources are provided as a fallback.\nconst sourcesRaw = $vars.INTRADAY_SOURCES_JSON || '[]';\nlet sources;\ntry {\n  sources = JSON.parse(sourcesRaw);\n} catch (e) {\n  sources = [];\n}\nif (!Array.isArray(sources) || sources.length === 0) {\n  // Default sources when none are configured\n  sources = [\n    { name: 'CoinDesk RSS',    type: 'rss', url: 'https://www.coindesk.com/arc/outboundfeeds/rss/' },\n    { name: 'Reuters Finance', type: 'rss', url: 'https://feeds.reuters.com/reuters/businessNews' },\n    { name: 'Ars Technica',    type: 'rss', url: 'https://feeds.arstechnica.com/arstechnica/index' },\n    { name: 'Hacker News',     type: 'api', url: 'https://hacker-news.firebaseio.com/v0/topstories.json' }\n  ];\n}\nreturn sources.map(source => ({ json: source }));"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Build Source List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.type }}",
              "rightValue": "rss",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Is RSS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.type }}",
              "rightValue": "x_account",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.type }}",
              "rightValue": "x_query",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000010",
      "name": "Is X Source?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse RSS/Atom XML into source_item objects.\n// Uses a simple regex-based approach \u2014 replace with a proper XML parser node if available.\n// Source metadata (name, url) is read from the 'Is RSS?' node output,\n// because the HTTP Request node replaces the item with the response body.\nconst xml = $input.item.json.data || '';\nconst sourceName = $('Is RSS?').item.json.name || 'Unknown RSS';\nconst sourceUrl = $('Is RSS?').item.json.url || null;\nconst fetchedAt = new Date().toISOString();\nconst items = [];\nconst itemMatches = xml.matchAll(/<item[^>]*>([\\s\\S]*?)<\\/item>/gi);\nfor (const match of itemMatches) {\n  const block = match[1];\n  const getTag = (tag) => {\n    const m = block.match(new RegExp(`<${tag}[^>]*><!\\\\[CDATA\\\\[([\\\\s\\\\S]*?)\\\\]\\\\]><\\\\/${tag}>|<${tag}[^>]*>([^<]*)<\\\\/${tag}>`, 'i'));\n    return m ? (m[1] || m[2] || '').trim() : null;\n  };\n  const guid = getTag('guid') || getTag('link');\n  const title = getTag('title');\n  const link = getTag('link');\n  const description = getTag('description');\n  const pubDate = getTag('pubDate');\n  if (!guid || !title) continue;\n  let published_at = null;\n  if (pubDate) {\n    const ts = Date.parse(pubDate);\n    published_at = !isNaN(ts) ? new Date(ts).toISOString() : null;\n  }\n  items.push({\n    source_id: guid,\n    source_name: sourceName,\n    source_type: 'rss',\n    source_url: link || sourceUrl,\n    title: title,\n    body: description,\n    published_at,\n    fetched_at: fetchedAt,\n    raw_json: { guid, link, pubDate, description }\n  });\n}\nreturn items.map(i => ({ json: i }));"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Parse RSS Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Fetch API Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normalize generic API responses into source_item objects.\n// Each source type may need a custom mapping here.\n// Source metadata is read from the 'Is X Source?' node output (false branch),\n// because the HTTP Request node replaces the item with the response body.\nconst payload = $input.item.json.data;\nconst sourceName = $('Is X Source?').item.json.name || 'Unknown API';\nconst fetchedAt = new Date().toISOString();\nif (!payload) return [];\n// Hacker News returns an array of IDs \u2014 emit the first 20 as placeholder items.\nif (Array.isArray(payload)) {\n  return payload.slice(0, 20).map(id => ({\n    json: {\n      source_id: String(id),\n      source_name: sourceName,\n      source_type: 'api',\n      source_url: `https://news.ycombinator.com/item?id=${id}`,\n      title: `HN item ${id}`,\n      body: null,\n      published_at: null,\n      fetched_at: fetchedAt,\n      raw_json: { id }\n    }\n  }));\n}\n// Generic object with title/description fields\nif (typeof payload === 'object' && payload.title) {\n  return [{\n    json: {\n      source_id: String(payload.id || payload.url || Date.now()),\n      source_name: sourceName,\n      source_type: 'api',\n      source_url: payload.url || null,\n      title: payload.title,\n      body: payload.description || payload.body || null,\n      published_at: payload.publishedAt || payload.published_at || null,\n      fetched_at: fetchedAt,\n      raw_json: payload\n    }\n  }];\n}\nreturn [];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Parse API Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Build the X API request URL for either x_account or x_query sources.\n// x_account: fetch recent tweets from a specific user.\n// x_query: search recent tweets matching a query.\n//\n// Supports both metadata_json and top-level source fields for flexibility.\n// For x_account, prefer a numeric X user id stored in metadata and call the\n// user tweets endpoint. If only a username is available, fall back to a\n// recent search using from:username, which returns tweet objects compatible\n// with Parse X Items.\n// The actual HTTP fetch is done by the next node.\nconst source = $input.item.json;\n\nlet parsedMetadata = {};\nif (source.metadata_json) {\n  if (typeof source.metadata_json === 'string') {\n    try {\n      parsedMetadata = JSON.parse(source.metadata_json);\n    } catch (e) {\n      parsedMetadata = {};\n    }\n  } else if (typeof source.metadata_json === 'object') {\n    parsedMetadata = source.metadata_json;\n  }\n}\n\n// Merge top-level fields and metadata_json (metadata_json takes precedence)\nconst xUserId = (parsedMetadata.x_user_id || source.x_user_id || '').trim();\nconst xUsername = (parsedMetadata.x_username || source.x_username || '').trim().replace(/^@/, '');\nconst searchQuery = parsedMetadata.search_query || source.search_query || '';\nconst maxResults = Math.min(Number(parsedMetadata.max_results || source.max_results || 10), 100);\nconst tweetFields = 'created_at,public_metrics,author_id';\n\nlet apiUrl;\nif (source.type === 'x_account') {\n  if (xUserId && /^\\d+$/.test(xUserId)) {\n    // Numeric user ID \u2014 call the user tweets endpoint directly\n    apiUrl = `https://api.twitter.com/2/users/${encodeURIComponent(xUserId)}/tweets?max_results=${maxResults}&exclude=replies,retweets&tweet.fields=${tweetFields}`;\n  } else {\n    // Username \u2014 use recent search with from:username filter\n    const username = xUserId || xUsername;\n    if (!username) {\n      throw new Error('x_account source requires metadata.x_user_id or metadata.x_username');\n    }\n    const query = encodeURIComponent(`from:${username} -is:reply -is:retweet`);\n    apiUrl = `https://api.twitter.com/2/tweets/search/recent?query=${query}&max_results=${maxResults}&tweet.fields=${tweetFields}`;\n  }\n} else {\n  // x_query\n  const query = encodeURIComponent(searchQuery);\n  apiUrl = `https://api.twitter.com/2/tweets/search/recent?query=${query}&max_results=${maxResults}&tweet.fields=${tweetFields}`;\n}\n\nreturn [{ json: { ...source, x_api_url: apiUrl, x_source_type: source.type } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000011",
      "name": "Build X API Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        600
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.x_api_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 15000
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000012",
      "name": "Fetch X API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        600
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "x-bearer-token",
          "name": "X Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse X API response into source_item objects.\n// Handles both user-timeline and search results.\n// The X v2 API returns { data: [...tweets], includes: {...} }.\nconst response = $input.item.json;\nconst sourceConfig = $('Is X Source?').item.json;\nconst sourceName = sourceConfig.name || 'Unknown X Source';\nconst sourceType = sourceConfig.type || 'x_account';\nconst fetchedAt = new Date().toISOString();\n\nconst tweets = response.data?.data || response.data || [];\nif (!Array.isArray(tweets) || tweets.length === 0) return [];\n\nreturn tweets.map(tweet => ({\n  json: {\n    source_id: `x-${tweet.id}`,\n    source_name: sourceName,\n    source_type: sourceType,\n    source_url: `https://x.com/i/status/${tweet.id}`,\n    title: (tweet.text || '').slice(0, 280),\n    body: null,\n    published_at: tweet.created_at || null,\n    fetched_at: fetchedAt,\n    raw_json: {\n      id: tweet.id,\n      author_id: tweet.author_id || null,\n      text: tweet.text || null,\n      created_at: tweet.created_at || null,\n      public_metrics: tweet.public_metrics || null\n    }\n  }\n}));"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000013",
      "name": "Parse X Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        600
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "clashHandling": {
          "values": {
            "resolveClash": "addSuffix"
          }
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000008",
      "name": "Merge RSS and API",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "clashHandling": {
          "values": {
            "resolveClash": "addSuffix"
          }
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000014",
      "name": "Merge All Items",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1560,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Collect all ingested items and return them as the workflow output.\nconst items = $input.all().map(i => i.json);\nreturn [{ json: { items } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000009",
      "name": "Collect Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        400
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Source List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Source List": {
      "main": [
        [
          {
            "node": "Is RSS?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is RSS?": {
      "main": [
        [
          {
            "node": "Fetch RSS Feed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is X Source?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is X Source?": {
      "main": [
        [
          {
            "node": "Build X API Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch API Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Feed": {
      "main": [
        [
          {
            "node": "Parse RSS Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSS Items": {
      "main": [
        [
          {
            "node": "Merge RSS and API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch API Source": {
      "main": [
        [
          {
            "node": "Parse API Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse API Items": {
      "main": [
        [
          {
            "node": "Merge RSS and API",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build X API Request": {
      "main": [
        [
          {
            "node": "Fetch X API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch X API": {
      "main": [
        [
          {
            "node": "Parse X Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse X Items": {
      "main": [
        [
          {
            "node": "Merge All Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge RSS and API": {
      "main": [
        [
          {
            "node": "Merge All Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Items": {
      "main": [
        [
          {
            "node": "Collect Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "errorWorkflow": "={{ $vars.FAILURE_NOTIFIER_WORKFLOW_ID }}"
  },
  "id": "intraday-01-source-ingestion-v1",
  "tags": [
    "intraday",
    "ingestion",
    "x",
    "v1"
  ]
}