workflows/n8n/intraday/05_ai_classification.json
{
  "name": "Intraday — 05 AI Classification",
  "nodes": [
    {
      "parameters": {},
      "id": "f6a7b8c9-0006-0006-0006-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Pre-filter items before sending to AI to control cost.\n// Drops items that carry too little content to classify and caps the batch\n// at AI_MAX_ITEMS_PER_BATCH (default 30, from config/openai-cost-controls.json).\nconst input = $input.first().json;\nconst items = Array.isArray(input.items) ? input.items : [];\n\nconst MAX_ITEMS = Number($vars.AI_MAX_ITEMS_PER_BATCH) > 0\n  ? Number($vars.AI_MAX_ITEMS_PER_BATCH)\n  : 30;\nconst MIN_CONTENT_LENGTH = 10;\n\n// Drop items that have neither a usable headline nor a body.\nconst filtered = items.filter(item => {\n  const headlineLen = (typeof item.headline === 'string') ? item.headline.trim().length : 0;\n  const bodyLen = (typeof item.body === 'string') ? item.body.trim().length : 0;\n  return (headlineLen + bodyLen) >= MIN_CONTENT_LENGTH;\n});\n\n// Cap at the maximum batch size, keeping the first MAX_ITEMS entries.\n// Items arrive in descending priority order from upstream clustering.\nconst capped = filtered.slice(0, MAX_ITEMS);\n\nreturn [{\n  json: {\n    ...input,\n    items: capped,\n    _prefilter_in: items.length,\n    _prefilter_out: capped.length\n  }\n}];"
      },
      "id": "f6a7b8c9-0006-0006-0006-000000000006",
      "name": "Pre-filter Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Expand the pre-filtered items array into individual items for per-item AI classification.\nconst input = $input.first().json;\nconst items = Array.isArray(input.items) ? input.items : [];\nreturn items.map(item => ({ json: item }));"
      },
      "id": "f6a7b8c9-0006-0006-0006-000000000002",
      "name": "Expand Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": "={{ $vars.AI_MODEL_FAST || 'gpt-4o-mini' }}",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a financial and technology news classifier. Classify the given news item and return ONLY a valid JSON object that exactly matches the schema below. Do not include markdown, code fences, or any text outside the JSON object.\n\nSchema:\n{\n  \"topic_slug\": \"<one of: crypto | finance | economy | health | ai | energy | technology>\",\n  \"secondary_topics\": [\"<optional, up to 2 topics from the same list>\"],\n  \"headline\": \"<concise factual headline, max 250 chars, no HTML>\",\n  \"summary_text\": \"<1-2 sentence summary for the timeline, max 500 chars, no HTML>\",\n  \"severity_score\": <integer 0-100>,\n  \"importance_score\": <integer 0-100>,\n  \"confidence_score\": <integer 0-100>,\n  \"send_alert\": <true | false>,\n  \"alert_reason\": \"<one sentence, max 200 chars, or null>\",\n  \"cluster_label\": \"<short cluster label max 100 chars, or null>\",\n  \"source_confidence_note\": \"<brief explanation of how source trust influenced confidence, max 300 chars, or null>\",\n  \"supporting_sources\": [\n    {\n      \"source_name\": \"<human-readable source name>\",\n      \"source_url\": \"<https URL or null>\",\n      \"source_type\": \"<one of: rss | api | social | webhook | x_account | x_query | null>\",\n      \"source_role\": \"<one of: confirmation | data | commentary | official | null>\"\n    }\n  ]\n}\n\nNotes on supporting_sources:\n- Include up to 5 additional sources that corroborate or add context to the primary source.\n- Set to null or omit when there are no meaningful supporting sources.\n- source_url must be an HTTP or HTTPS URL, or null.\n- source_type and source_role must use the exact values listed above, or null.\n\nScoring guide:\n- importance_score: how broadly relevant to the primary topic audience (0=noise, 100=must-know)\n- severity_score: how urgent or disruptive the event is (0=no impact, 100=extreme disruption)\n- confidence_score: your confidence in the classification, adjusted for source trust\n- send_alert: recommend true when importance_score >= 60 AND severity_score >= 50\n- cluster_label: use the existing cluster hint if provided, or infer a concise label; null if no clear cluster\n\nSource trust rules:\n- T1 (Official) and T2 (Wire): high trust — no confidence reduction needed\n- T3 (Specialist): moderate trust — reduce confidence_score by 5-10 points vs T1/T2\n- T4 (Signal/Social): low trust — reduce confidence_score by at least 20 points vs T1/T2\n- Unknown trust tier: reduce confidence_score by at least 25 points\n- When the source is T4 or unknown, use hedged wording in summary_text (e.g. 'reports suggest', 'according to', 'unconfirmed')\n- When confidence_score is below 40, do NOT recommend send_alert = true unless importance_score >= 80\n- Set source_confidence_note to explain how the source tier affected your confidence assessment"
            },
            {
              "role": "user",
              "content": "=Classify this news item:\n\nHeadline: {{ $json.headline }}\nBody: {{ $json.body || '(no body)' }}\nSource: {{ $json.source_name }}\nSource type: {{ $json.source_type || 'unknown' }}\nAuthor: {{ $json.author || '(unknown)' }}\nSource URL: {{ $json.source_url || '(none)' }}\nTrust tier: {{ $json.trust_tier || 'unknown' }} (T1=Official, T2=Wire, T3=Specialist, T4=Signal/Social)\nTrust score: {{ $json.trust_score ?? 'N/A' }} (0-100, higher=more trusted)\nTopic candidates from keyword matching: {{ ($json.topic_candidates || []).join(', ') || 'none' }}\nExisting cluster hint: {{ $json.cluster_label || 'none' }}\nPublished at: {{ $json.published_at }}"
            }
          ]
        },
        "options": {
          "temperature": 0.1,
          "maxTokens": 400,
          "responseFormat": "json_object"
        }
      },
      "id": "f6a7b8c9-0006-0006-0006-000000000003",
      "name": "Classify with AI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-api-credentials",
          "name": "OpenAiApi"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse and validate the AI JSON output against the alert_classification schema.\n// Falls back gracefully when the AI returns malformed output.\nconst item = $input.item.json;\nconst rawContent = item?.message?.content || item?.choices?.[0]?.message?.content || '';\n\nconst VALID_TOPICS = ['crypto', 'finance', 'economy', 'health', 'ai', 'energy', 'technology'];\nconst VALID_SOURCE_TYPES = ['rss', 'api', 'social', 'webhook', 'x_account', 'x_query'];\nconst VALID_SOURCE_ROLES = ['confirmation', 'data', 'commentary', 'official'];\n\nlet ai;\ntry {\n  // Strip potential markdown code fences\n  const cleaned = rawContent.replace(/^```[a-zA-Z]*\\r?\\n?|\\r?\\n?```$/g, '').trim();\n  ai = JSON.parse(cleaned);\n} catch (e) {\n  // Parsing failed — return a low-confidence fallback\n  ai = {\n    topic_slug: $('Expand Items').item.json.topic_candidates?.[0] || 'technology',\n    secondary_topics: [],\n    headline: $('Expand Items').item.json.headline,\n    summary_text: $('Expand Items').item.json.body?.slice(0, 500) || $('Expand Items').item.json.headline,\n    severity_score: 0,\n    importance_score: 0,\n    confidence_score: 0,\n    send_alert: false,\n    alert_reason: 'AI output parse failure — skipping alert.',\n    cluster_label: null,\n    source_confidence_note: null,\n    supporting_sources: null\n  };\n}\n\n// Validate required fields\nif (!VALID_TOPICS.includes(ai.topic_slug)) {\n  ai.topic_slug = $('Expand Items').item.json.topic_candidates?.[0] || 'technology';\n}\nif (typeof ai.severity_score  !== 'number') ai.severity_score  = 0;\nif (typeof ai.importance_score !== 'number') ai.importance_score = 0;\nif (typeof ai.confidence_score !== 'number') ai.confidence_score = 0;\nif (typeof ai.send_alert !== 'boolean') ai.send_alert = false;\n\nconst source = $('Expand Items').item.json;\nconst sourceConfidenceNote = ai.source_confidence_note == null\n  ? null\n  : String(ai.source_confidence_note).slice(0, 300) || null;\n\n// Normalise source_url: trim whitespace; reject non-HTTP/HTTPS values.\nconst sourceUrl = typeof source.source_url === 'string' && source.source_url.trim() !== ''\n  ? source.source_url.trim()\n  : null;\n\n// Extract source_domain from source_url\nlet sourceDomain = null;\nif (sourceUrl) {\n  try {\n    const u = new URL(sourceUrl);\n    if (u.protocol === 'http:' || u.protocol === 'https:') {\n      sourceDomain = u.hostname || null;\n    }\n  } catch (_) {\n    sourceDomain = null;\n  }\n}\n\n// Validate and normalise supporting_sources from the AI output.\n// Iterate the full array and collect up to 5 valid entries; invalid entries are\n// silently dropped so that a bad early entry does not discard a valid later one.\n// Only HTTP/HTTPS source URLs are accepted.\nlet supportingSources = null;\nif (Array.isArray(ai.supporting_sources) && ai.supporting_sources.length > 0) {\n  const validated = [];\n  for (const ss of ai.supporting_sources) {\n    if (validated.length >= 5) break;\n    if (!ss || typeof ss !== 'object') continue;\n    if (typeof ss.source_name !== 'string' || ss.source_name.trim() === '') continue;\n    let ssUrl = null;\n    if (typeof ss.source_url === 'string' && ss.source_url.trim() !== '') {\n      const trimmedSsUrl = ss.source_url.trim();\n      try {\n        const u = new URL(trimmedSsUrl);\n        if (u.protocol === 'http:' || u.protocol === 'https:') {\n          ssUrl = trimmedSsUrl;\n        }\n      } catch (_) {\n        ssUrl = null;\n      }\n    }\n    validated.push({\n      source_name: ss.source_name.trim(),\n      source_url:  ssUrl,\n      source_type: VALID_SOURCE_TYPES.includes(ss.source_type) ? ss.source_type : null,\n      source_role: VALID_SOURCE_ROLES.includes(ss.source_role) ? ss.source_role : null\n    });\n  }\n  supportingSources = validated.length > 0 ? validated : null;\n}\n\nreturn [{\n  json: {\n    item_id:            source.item_id,\n    topic_slug:         ai.topic_slug,\n    secondary_topics:   Array.isArray(ai.secondary_topics) ? ai.secondary_topics.filter(t => VALID_TOPICS.includes(t)).slice(0, 2) : [],\n    headline:           (ai.headline || source.headline || '').slice(0, 250),\n    summary_text:       (ai.summary_text || source.body || source.headline || '').slice(0, 500),\n    source_url:         sourceUrl,\n    source_name:        source.source_name,\n    source_type:        source.source_type || null,\n    source_domain:      sourceDomain,\n    supporting_sources: supportingSources,\n    trust_tier:         source.trust_tier || null,\n    trust_score:        typeof source.trust_score === 'number' ? source.trust_score : null,\n    severity_score:     Math.min(100, Math.max(0, Math.round(ai.severity_score))),\n    importance_score:   Math.min(100, Math.max(0, Math.round(ai.importance_score))),\n    confidence_score:   Math.min(100, Math.max(0, Math.round(ai.confidence_score))),\n    send_alert:         ai.send_alert === true,\n    alert_reason:       ai.alert_reason || null,\n    event_at:           source.published_at,\n    cluster_label:      ai.cluster_label || source.cluster_label || null,\n    source_confidence_note: sourceConfidenceNote\n  }\n}];"
      },
      "id": "f6a7b8c9-0006-0006-0006-000000000004",
      "name": "Parse and Validate AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Collect all classified alerts and return them as the workflow output.\nconst items = $input.all().map(i => i.json);\nreturn [{ json: { items } }];"
      },
      "id": "f6a7b8c9-0006-0006-0006-000000000005",
      "name": "Collect Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Pre-filter Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-filter Items": {
      "main": [
        [
          {
            "node": "Expand Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Items": {
      "main": [
        [
          {
            "node": "Classify with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify with AI": {
      "main": [
        [
          {
            "node": "Parse and Validate AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Validate AI Output": {
      "main": [
        [
          {
            "node": "Collect Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "errorWorkflow": "={{ $vars.FAILURE_NOTIFIER_WORKFLOW_ID }}"
  },
  "id": "intraday-05-ai-classification-v1",
  "tags": [
    "intraday",
    "ai",
    "classification",
    "v1"
  ]
}
