workflows/n8n/intraday/08_telegram_delivery.json
{
  "name": "Intraday \u2014 08 Telegram Delivery",
  "nodes": [
    {
      "parameters": {},
      "id": "c9d0e1f2-0009-0009-0009-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Expand persisted alerts for per-item Telegram dispatch.\nconst input = $input.first().json;\nconst items = Array.isArray(input.items) ? input.items : [];\nreturn items\n  .filter(i => (i.channels || []).includes('telegram'))\n  .map(item => ({ json: item }));"
      },
      "id": "c9d0e1f2-0009-0009-0009-000000000002",
      "name": "Expand Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format the alert as a Telegram message using HTML parse mode.\n// All dynamic fields are HTML-escaped to prevent parse errors or injection.\nconst item = $input.item.json;\n\nconst escHtml = (s) =>\n  (s || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;');\n\nconst topicEmoji = {\n  crypto:     '\ud83e\ude99',\n  finance:    '\ud83d\udcc8',\n  economy:    '\ud83c\udfe6',\n  health:     '\ud83c\udfe5',\n  ai:         '\ud83e\udd16',\n  energy:     '\u26a1',\n  technology: '\ud83d\udcbb'\n};\nconst emoji = topicEmoji[item.topic_slug] || '\ud83d\udcf0';\nconst importanceBar = '\ud83d\udfe9'.repeat(Math.round(item.importance_score / 20)) + '\u2b1c'.repeat(5 - Math.round(item.importance_score / 20));\nconst sourceLink = item.source_url\n  ? `\\n<a href=\"${escHtml(item.source_url)}\">Source: ${escHtml(item.source_name)}</a>`\n  : `\\nSource: ${escHtml(item.source_name)}`;\n\nconst text = [\n  `${emoji} <b>${item.topic_slug.toUpperCase()}</b>  |  Importance: ${importanceBar} ${item.importance_score}/100`,\n  ``,\n  `<b>${escHtml(item.headline)}</b>`,\n  ``,\n  escHtml(item.summary_text),\n  sourceLink\n].join('\\n');\n\nreturn [{ json: { ...item, telegram_text: text } }];"
      },
      "id": "c9d0e1f2-0009-0009-0009-000000000003",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegram_text }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_web_page_preview": false
        }
      },
      "id": "c9d0e1f2-0009-0009-0009-000000000004",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "TelegramBotApi"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://api.cloudflare.com/client/v4/accounts/{{ $vars.CF_ACCOUNT_ID }}/d1/database/{{ $vars.CF_D1_DATABASE_ID }}/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sql\": \"UPDATE alerts SET delivered_telegram = 1, updated_at = strftime('%Y-%m-%dT%H:%M:%SZ', 'now') WHERE id = ? AND ? = 'published'\",\n  \"params\": [ {{ $('Handle Delivery Result').item.json.alert_id }}, \"{{ $('Handle Delivery Result').item.json.status }}\" ]\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "c9d0e1f2-0009-0009-0009-000000000005",
      "name": "Mark Telegram Delivered",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cloudflare-d1-api",
          "name": "CloudflareD1Api"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Inspect the Telegram API response and route to success or failure.\nconst response = $input.item.json;\nconst alert = $('Format Telegram Message').item.json;\n\nconst hasError = !!response.error_code || !!response.error || response.ok === false;\n\nif (hasError) {\n  const errMsg = response.description\n    ? response.description.slice(0, 300)\n    : response.error\n      ? (typeof response.error === 'string' ? response.error : JSON.stringify(response.error).slice(0, 300))\n      : 'Unknown Telegram API error';\n  return [{ json: {\n    alert_id:         alert.alert_id,\n    topic_slug:       alert.topic_slug,\n    date_key:         alert.date_key,\n    item_id:          alert.item_id || null,\n    status:           'failed',\n    platform_post_id: null,\n    error_message:    errMsg\n  } }];\n}\n\nconst messageId = response.result?.message_id?.toString() || null;\nreturn [{ json: {\n  alert_id:         alert.alert_id,\n  topic_slug:       alert.topic_slug,\n  date_key:         alert.date_key,\n  item_id:          alert.item_id || null,\n  status:           'published',\n  platform_post_id: messageId,\n  error_message:    null\n} }];"
      },
      "id": "c9d0e1f2-0009-0009-0009-000000000006",
      "name": "Handle Delivery Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Build a social_publish_log entry for Telegram alert delivery.\nconst r = $input.item.json;\nreturn [{ json: {\n  _d1_sql: `INSERT INTO social_publish_log\n    (topic_slug, date_key, asset_type, source_type, source_id, platform, post_type,\n     status, platform_post_id, error_message, attempt, created_at, updated_at)\n  VALUES (?, ?, 'story', 'alert', ?, 'telegram', 'alert', ?, ?, ?, 1,\n    strftime('%Y-%m-%dT%H:%M:%SZ','now'),\n    strftime('%Y-%m-%dT%H:%M:%SZ','now')\n  )`,\n  _d1_params: [\n    r.topic_slug,\n    r.date_key,\n    r.item_id || null,\n    r.status || 'published',\n    r.platform_post_id || null,\n    r.error_message || null\n  ],\n  ...r\n} }];"
      },
      "id": "c9d0e1f2-0009-0009-0009-000000000007",
      "name": "Build Delivery Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        500
      ]
    },
    {
      "parameters": {
        "url": "=https://api.cloudflare.com/client/v4/accounts/{{ $vars.CF_ACCOUNT_ID }}/d1/database/{{ $vars.CF_D1_DATABASE_ID }}/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { sql: $json._d1_sql, params: $json._d1_params } }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "c9d0e1f2-0009-0009-0009-000000000008",
      "name": "Write Delivery Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1340,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cloudflare-d1-api",
          "name": "CloudflareD1Api"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Expand Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Alerts": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message": {
      "main": [
        [
          {
            "node": "Handle Delivery Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Delivery Result": {
      "main": [
        [
          {
            "node": "Mark Telegram Delivered",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Delivery Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Delivery Log": {
      "main": [
        [
          {
            "node": "Write Delivery Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "errorWorkflow": "={{ $vars.FAILURE_NOTIFIER_WORKFLOW_ID }}"
  },
  "id": "intraday-08-telegram-delivery-v1",
  "tags": [
    "intraday",
    "telegram",
    "delivery",
    "v1"
  ]
}
