workflows/n8n/intraday/08_telegram_delivery.json
{
  "name": "Intraday — 08 Telegram Delivery",
  "nodes": [
    {
      "parameters": {},
      "id": "c9d0e1f2-0009-0009-0009-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Expand persisted alerts for per-item Telegram dispatch.\nconst input = $input.first().json;\nconst items = Array.isArray(input.items) ? input.items : [];\nreturn items\n  .filter(i => (i.channels || []).includes('telegram'))\n  .map(item => ({ json: item }));"
      },
      "id": "c9d0e1f2-0009-0009-0009-000000000002",
      "name": "Expand Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format the alert as a Telegram message using HTML parse mode.\n// All dynamic fields are HTML-escaped to prevent parse errors or injection.\nconst item = $input.item.json;\n\nconst escHtml = (s) =>\n  (s || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;');\n\nconst topicEmoji = {\n  crypto:     '🪙',\n  finance:    '📈',\n  economy:    '🏦',\n  health:     '🏥',\n  ai:         '🤖',\n  energy:     '⚡',\n  technology: '💻'\n};\nconst emoji = topicEmoji[item.topic_slug] || '📰';\nconst importanceBar = '🟩'.repeat(Math.round(item.importance_score / 20)) + '⬜'.repeat(5 - Math.round(item.importance_score / 20));\nconst sourceLink = item.source_url\n  ? `\\n<a href=\"${escHtml(item.source_url)}\">Source: ${escHtml(item.source_name)}</a>`\n  : `\\nSource: ${escHtml(item.source_name)}`;\n\nconst text = [\n  `${emoji} <b>${item.topic_slug.toUpperCase()}</b>  |  Importance: ${importanceBar} ${item.importance_score}/100`,\n  ``,\n  `<b>${escHtml(item.headline)}</b>`,\n  ``,\n  escHtml(item.summary_text),\n  sourceLink\n].join('\\n');\n\nreturn [{ json: { ...item, telegram_text: text } }];"
      },
      "id": "c9d0e1f2-0009-0009-0009-000000000003",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegram_text }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_web_page_preview": false
        }
      },
      "id": "c9d0e1f2-0009-0009-0009-000000000004",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "TelegramBotApi"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "url": "=https://api.cloudflare.com/client/v4/accounts/{{ $vars.CF_ACCOUNT_ID }}/d1/database/{{ $vars.CF_D1_DATABASE_ID }}/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sql\": \"UPDATE alerts SET delivered_telegram = 1, updated_at = strftime('%Y-%m-%dT%H:%M:%SZ', 'now') WHERE id = ?\",\n  \"params\": [ {{ $('Format Telegram Message').item.json.alert_id }} ]\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "c9d0e1f2-0009-0009-0009-000000000005",
      "name": "Mark Telegram Delivered",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cloudflare-d1-api",
          "name": "CloudflareD1Api"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Expand Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Alerts": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message": {
      "main": [
        [
          {
            "node": "Mark Telegram Delivered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "errorWorkflow": "={{ $vars.FAILURE_NOTIFIER_WORKFLOW_ID }}"
  },
  "id": "intraday-08-telegram-delivery-v1",
  "tags": [
    "intraday",
    "telegram",
    "delivery",
    "v1"
  ]
}