workflows/n8n/intraday/09_discord_delivery.json
{
  "name": "Intraday — 09 Discord Delivery",
  "nodes": [
    {
      "parameters": {},
      "id": "d0e1f2a3-0010-0010-0010-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Expand persisted alerts for per-item Discord dispatch.\nconst input = $input.first().json;\nconst items = Array.isArray(input.items) ? input.items : [];\nreturn items\n  .filter(i => (i.channels || []).includes('discord'))\n  .map(item => ({ json: item }));"
      },
      "id": "d0e1f2a3-0010-0010-0010-000000000002",
      "name": "Expand Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format the alert as a Discord embed payload.\n// Discord embeds support color coding, fields, and footer.\nconst item = $input.item.json;\n\n// Map topic to a Discord embed sidebar color (decimal)\nconst topicColor = {\n  crypto:     0xF7931A, // Bitcoin orange\n  finance:    0x2ECC71, // green\n  economy:    0x3498DB, // blue\n  health:     0xE74C3C, // red\n  ai:         0x9B59B6, // purple\n  energy:     0xF1C40F, // yellow\n  technology: 0x1ABC9C  // teal\n};\nconst color = topicColor[item.topic_slug] || 0x95A5A6;\n\nconst topicEmoji = {\n  crypto: '🪙', finance: '📈', economy: '🏦',\n  health: '🏥', ai: '🤖', energy: '⚡', technology: '💻'\n};\nconst emoji = topicEmoji[item.topic_slug] || '📰';\n\nconst embed = {\n  title:       `${emoji} ${item.headline}`,\n  description: item.summary_text,\n  color,\n  fields: [\n    { name: 'Topic',       value: item.topic_slug.charAt(0).toUpperCase() + item.topic_slug.slice(1), inline: true },\n    { name: 'Importance',  value: `${item.importance_score}/100`, inline: true },\n    { name: 'Severity',    value: `${item.severity_score}/100`,   inline: true }\n  ],\n  footer: { text: item.source_name },\n  timestamp: item.event_at\n};\n\nif (item.source_url) {\n  embed.url = item.source_url;\n}\n\nreturn [{ json: { ...item, discord_payload: { embeds: [embed] } } }];"
      },
      "id": "d0e1f2a3-0010-0010-0010-000000000003",
      "name": "Format Discord Embed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "={{ $vars.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.discord_payload) }}",
        "options": { "timeout": 10000 }
      },
      "id": "d0e1f2a3-0010-0010-0010-000000000004",
      "name": "Send Discord Embed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "url": "=https://api.cloudflare.com/client/v4/accounts/{{ $vars.CF_ACCOUNT_ID }}/d1/database/{{ $vars.CF_D1_DATABASE_ID }}/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sql\": \"UPDATE alerts SET delivered_discord = 1, updated_at = strftime('%Y-%m-%dT%H:%M:%SZ', 'now') WHERE id = ?\",\n  \"params\": [ {{ $('Format Discord Embed').item.json.alert_id }} ]\n}",
        "options": { "timeout": 10000 }
      },
      "id": "d0e1f2a3-0010-0010-0010-000000000005",
      "name": "Mark Discord Delivered",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "cloudflare-d1-api", "name": "CloudflareD1Api" }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [{ "node": "Expand Alerts", "type": "main", "index": 0 }]
      ]
    },
    "Expand Alerts": {
      "main": [
        [{ "node": "Format Discord Embed", "type": "main", "index": 0 }]
      ]
    },
    "Format Discord Embed": {
      "main": [
        [{ "node": "Send Discord Embed", "type": "main", "index": 0 }]
      ]
    },
    "Send Discord Embed": {
      "main": [
        [{ "node": "Mark Discord Delivered", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "errorWorkflow": "={{ $vars.FAILURE_NOTIFIER_WORKFLOW_ID }}"
  },
  "id": "intraday-09-discord-delivery-v1",
  "tags": ["intraday", "discord", "delivery", "v1"]
}
