workflows/n8n/daily/01_aggregate_alerts.json
{
  "name": "Daily — 01 Aggregate Alerts",
  "nodes": [
    {
      "parameters": {},
      "id": "d1e2f3a4-0001-0001-0001-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract topic_slug, date_key, and publish_job_id from the orchestrator input.\nconst input = $input.first().json;\nconst topic_slug = input.topic_slug;\nconst date_key = input.date_key;\nconst publish_job_id = input.publish_job_id;\n\nif (!topic_slug || !date_key || !publish_job_id) {\n  throw new Error(`Missing required inputs. Got: topic_slug=${topic_slug}, date_key=${date_key}, publish_job_id=${publish_job_id}`);\n}\n\nreturn [{ json: { topic_slug, date_key, publish_job_id } }];"
      },
      "id": "d1e2f3a4-0001-0001-0001-000000000002",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "=https://api.cloudflare.com/client/v4/accounts/{{ $vars.CF_ACCOUNT_ID }}/d1/database/{{ $vars.CF_D1_DATABASE_ID }}/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  sql: \"SELECT id, headline, summary_text, source_url, source_name, importance_score, severity_score, cluster_id, event_at FROM alerts WHERE topic_slug = ? AND date_key = ? AND status = 'active' ORDER BY importance_score DESC, event_at DESC LIMIT 100\",\n  params: [$json.topic_slug, $json.date_key]\n} }}",
        "options": { "timeout": 15000 }
      },
      "id": "d1e2f3a4-0001-0001-0001-000000000003",
      "name": "Fetch Alerts from D1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cloudflare-d1-credentials",
          "name": "CloudflareD1Api"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "url": "=https://api.cloudflare.com/client/v4/accounts/{{ $vars.CF_ACCOUNT_ID }}/d1/database/{{ $vars.CF_D1_DATABASE_ID }}/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  sql: \"SELECT id, cluster_label, summary_text, alert_count, importance_score FROM event_clusters WHERE topic_slug = ? AND date_key = ? ORDER BY importance_score DESC LIMIT 20\",\n  params: [$('Validate Input').first().json.topic_slug, $('Validate Input').first().json.date_key]\n} }}",
        "options": { "timeout": 15000 }
      },
      "id": "d1e2f3a4-0001-0001-0001-000000000004",
      "name": "Fetch Clusters from D1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cloudflare-d1-credentials",
          "name": "CloudflareD1Api"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Merge alerts and clusters into the aggregate context.\nconst ctx = $('Validate Input').first().json;\nconst alertsResp = $('Fetch Alerts from D1').first().json;\nconst clustersResp = $('Fetch Clusters from D1').first().json;\n\nconst alerts = alertsResp?.result?.[0]?.results || [];\nconst clusters = clustersResp?.result?.[0]?.results || [];\n\nif (alerts.length === 0) {\n  throw new Error(`No active alerts found for ${ctx.topic_slug} on ${ctx.date_key}. Cannot generate daily summary.`);\n}\n\nreturn [{\n  json: {\n    topic_slug: ctx.topic_slug,\n    date_key: ctx.date_key,\n    publish_job_id: ctx.publish_job_id,\n    alerts,\n    clusters,\n    alert_count: alerts.length,\n    cluster_count: clusters.length\n  }\n}];"
      },
      "id": "d1e2f3a4-0001-0001-0001-000000000005",
      "name": "Build Aggregate Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [{ "node": "Validate Input", "type": "main", "index": 0 }]
      ]
    },
    "Validate Input": {
      "main": [
        [
          { "node": "Fetch Alerts from D1", "type": "main", "index": 0 },
          { "node": "Fetch Clusters from D1", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Alerts from D1": {
      "main": [
        [{ "node": "Build Aggregate Context", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Clusters from D1": {
      "main": [
        [{ "node": "Build Aggregate Context", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "errorWorkflow": "={{ $vars.FAILURE_NOTIFIER_WORKFLOW_ID }}"
  },
  "id": "daily-01-aggregate-alerts-v1",
  "tags": ["daily", "editorial", "aggregation", "v1"]
}
