workflows/n8n/daily/02_generate_summary.json
{
  "name": "Daily \u2014 02 Generate Summary",
  "nodes": [
    {
      "parameters": {},
      "id": "d1e2f3a4-0002-0002-0002-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build a compact text representation of alerts and clusters for the AI prompt.\n// Limits token usage by truncating long summaries.\n// Source names are included when available to support source-aware summary generation.\nconst ctx = $input.first().json;\n\nconst topAlerts = (ctx.alerts || []).slice(0, 20).map((a, i) => {\n  const sourceNote = a.source_name ? ` [source: ${a.source_name}]` : '';\n  return `${i + 1}. [importance=${a.importance_score}] ${a.headline}${a.summary_text ? ' \u2014 ' + a.summary_text.slice(0, 150) : ''}${sourceNote}`;\n}).join('\\n');\n\nconst clusterText = (ctx.clusters || []).map(c =>\n  `- ${c.cluster_label} (${c.alert_count} alerts, importance=${c.importance_score})${c.summary_text ? ': ' + c.summary_text.slice(0, 150) : ''}`\n).join('\\n');\n\nreturn [{\n  json: {\n    ...ctx,\n    _prompt_alerts: topAlerts,\n    _prompt_clusters: clusterText || '(no clusters identified)'\n  }\n}];"
      },
      "id": "d1e2f3a4-0002-0002-0002-000000000002",
      "name": "Build Prompt Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a professional financial and technology news analyst. Generate a structured daily summary for the given topic and date based on the alert data provided. Return ONLY a valid JSON object that exactly matches the schema below. Do not include markdown, code fences, or any text outside the JSON object.\n\nSchema:\n{\n  \"headline\": \"<concise factual headline, 10-200 chars, no HTML>\",\n  \"overview\": \"<3-5 sentence narrative overview, 100-1000 chars, factual, third-person, no HTML>\",\n  \"key_events\": [\n    {\n      \"title\": \"<event title, 5-150 chars>\",\n      \"significance\": \"<1-2 sentences why it matters, 20-300 chars>\",\n      \"importance_score\": <integer 0-100>,\n      \"sources\": [\n        { \"source_name\": \"<name>\", \"source_url\": \"<url or null>\", \"source_role\": \"primary|confirmation|data|commentary|official or null\" }\n      ] or null\n    }\n  ],\n  \"market_context\": \"<optional macro/market context, max 500 chars, or null>\",\n  \"sentiment\": \"<bullish|bearish|neutral|mixed>\",\n  \"topic_score\": <integer 0-100>,\n  \"sources\": [\n    { \"source_name\": \"<name>\", \"source_url\": \"<url or null>\", \"source_role\": \"primary|confirmation|data|commentary|official or null\" }\n  ] or null,\n  \"source_confidence_note\": \"<1-2 sentences on source quality and confidence, or null>\"\n}\n\nGuidelines:\n- headline: summarise the single most important development of the day\n- overview: provide context-rich narrative, not a bullet list\n- key_events: include 3-7 events ranked by importance_score DESC; populate sources from the alert source names in the input when available; return null for an event's sources if no source information is available\n- sources: aggregate the distinct sources referenced across all key events (max 10); omit duplicates; return null if no sources are available\n- source_confidence_note: note how source diversity and corroboration affect confidence; null if sources are absent\n- sentiment: reflect the overall tone of the day's news for this topic\n- topic_score: 0=quiet day with minor news, 100=extremely high-impact day"
            },
            {
              "role": "user",
              "content": "=Generate a daily summary for topic '{{ $json.topic_slug }}' on {{ $json.date_key }}.\n\nTotal alerts: {{ $json.alert_count }}\nTotal clusters: {{ $json.cluster_count }}\n\nTop alerts:\n{{ $json._prompt_alerts }}\n\nEvent clusters:\n{{ $json._prompt_clusters }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2,
          "maxTokens": 1000
        }
      },
      "id": "d1e2f3a4-0002-0002-0002-000000000003",
      "name": "Generate Summary with AI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-api-credentials",
          "name": "OpenAiApi"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Parse and validate the AI summary output against the daily_summary schema.\nconst rawContent = $input.first().json?.message?.content\n  || $input.first().json?.choices?.[0]?.message?.content\n  || '';\nconst ctx = $('Build Prompt Context').first().json;\n\nconst VALID_SENTIMENTS = ['bullish', 'bearish', 'neutral', 'mixed'];\nconst VALID_SOURCE_ROLES = ['primary', 'confirmation', 'data', 'commentary', 'official'];\n\nlet summary;\ntry {\n  const cleaned = rawContent.replace(/^```[a-z]*\\n?|\\n?```$/g, '').trim();\n  summary = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(`Failed to parse AI summary JSON for ${ctx.topic_slug}/${ctx.date_key}: ${e.message}. Raw: ${rawContent.slice(0, 200)}`);\n}\n\n// Validate required fields\nif (!summary.headline || summary.headline.length < 10) {\n  throw new Error('AI summary missing or too short headline');\n}\nif (!summary.overview || summary.overview.length < 100) {\n  throw new Error('AI summary missing or too short overview');\n}\nif (!Array.isArray(summary.key_events) || summary.key_events.length === 0) {\n  throw new Error('AI summary missing key_events');\n}\nif (!VALID_SENTIMENTS.includes(summary.sentiment)) {\n  summary.sentiment = 'neutral';\n}\nif (typeof summary.topic_score !== 'number') {\n  summary.topic_score = 50;\n}\n\n// Helper: normalize a source reference array\nfunction normalizeSources(arr, maxItems) {\n  if (!Array.isArray(arr) || arr.length === 0) return null;\n  const normalized = arr.slice(0, maxItems).map(s => ({\n    source_name: String(s.source_name || '').slice(0, 200),\n    source_url: s.source_url ? String(s.source_url).slice(0, 2000) : null,\n    source_role: VALID_SOURCE_ROLES.includes(s.source_role) ? s.source_role : null\n  })).filter(s => s.source_name.length > 0);\n  return normalized.length > 0 ? normalized : null;\n}\n\n// Clamp scores and normalize key_events (including per-event sources)\nsummary.topic_score = Math.min(100, Math.max(0, Math.round(summary.topic_score)));\nsummary.key_events = summary.key_events.slice(0, 7).map(e => ({\n  title: String(e.title || '').slice(0, 150),\n  significance: String(e.significance || '').slice(0, 300),\n  importance_score: Math.min(100, Math.max(0, Math.round(e.importance_score || 0))),\n  sources: normalizeSources(e.sources, 5)\n}));\n\n// Normalize top-level source fields\nsummary.sources = normalizeSources(summary.sources, 10);\nsummary.source_confidence_note = summary.source_confidence_note\n  ? String(summary.source_confidence_note).slice(0, 400)\n  : null;\n\n// Return the aggregate context with the validated summary attached\n// Strip internal prompt fields before passing downstream\nconst { _prompt_alerts, _prompt_clusters, ...cleanCtx } = ctx;\nreturn [{ json: { ...cleanCtx, summary } }];"
      },
      "id": "d1e2f3a4-0002-0002-0002-000000000004",
      "name": "Parse and Validate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Prompt Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt Context": {
      "main": [
        [
          {
            "node": "Generate Summary with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary with AI": {
      "main": [
        [
          {
            "node": "Parse and Validate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "errorWorkflow": "={{ $vars.FAILURE_NOTIFIER_WORKFLOW_ID }}"
  },
  "id": "daily-02-generate-summary-v1",
  "tags": [
    "daily",
    "editorial",
    "ai",
    "summary",
    "v1"
  ]
}