workflows/n8n/daily/05_generate_tomorrow_outlook.json
{
  "name": "Daily — 05 Generate Tomorrow Outlook",
  "nodes": [
    {
      "parameters": {},
      "id": "d1e2f3a4-0005-0005-0005-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": "={{ $vars.AI_MODEL_STANDARD || 'gpt-4o' }}",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a market and intelligence analyst writing a forward-looking outlook for tomorrow's session. Based on today's events, identify key watchpoints and scheduled catalysts. Return ONLY a valid JSON object that exactly matches the schema below. Do not include markdown, code fences, or any text outside the JSON object.\n\nSchema:\n{\n  \"key_watchpoints\": [\n    {\n      \"title\": \"<watchpoint title, 5-100 chars>\",\n      \"description\": \"<why it matters and what to watch, 20-300 chars>\",\n      \"source\": { \"source_name\": \"<name>\", \"source_url\": \"<url or null>\" } | null\n    }\n  ],\n  \"scheduled_events\": [\n    {\n      \"title\": \"<event name, 5-150 chars>\",\n      \"time_hint\": \"<time hint e.g. '08:30 ET', or null>\",\n      \"impact\": \"<high|medium|low>\",\n      \"source\": { \"source_name\": \"<name>\", \"source_url\": \"<url or null>\" } | null\n    }\n  ],\n  \"outlook_summary\": \"<2-4 sentence forward-looking summary, 50-600 chars>\",\n  \"risk_level\": \"<low|medium|high>\"\n}\n\nGuidelines:\n- key_watchpoints: 2-5 concrete things to monitor tomorrow, grounded in today's developments; where a provided source supports a watchpoint, populate the source field — otherwise set it to null\n- scheduled_events: known macro, corporate, or topic-specific events that could move the market or affect sentiment; 0-5 events; only include events you are confident about based on the input; set source to null when the event is from general knowledge\n- outlook_summary: factual and grounded, no speculation beyond what the data supports; use hedged language ('may', 'could', 'suggests') and avoid asserting predictions as certainties\n- risk_level: overall perceived uncertainty for tomorrow based on today's backdrop and scheduled catalysts\n- do not introduce information not present in the provided summary or commonly known scheduled events"
            },
            {
              "role": "user",
              "content": "=Generate a tomorrow outlook for topic '{{ $json.topic_slug }}' following {{ $json.date_key }}.\n\nToday's summary:\nHeadline: {{ $json.summary.headline }}\nOverview: {{ $json.summary.overview }}\nSentiment: {{ $json.summary.sentiment }}\nTopic score: {{ $json.summary.topic_score }}/100\n\nKey events:\n{{ $json.summary.key_events.map((e, i) => {\n  const srcs = Array.isArray(e.sources) && e.sources.length > 0\n    ? ' [Sources: ' + e.sources.map(s => s.source_name).join(', ') + ']'\n    : '';\n  return `${i+1}. ${e.title} — ${e.significance}${srcs}`;\n}).join('\\n') }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2,
          "maxTokens": 700,
          "responseFormat": "json_object"
        }
      },
      "id": "d1e2f3a4-0005-0005-0005-000000000002",
      "name": "Generate Tomorrow Outlook with AI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-api-credentials",
          "name": "OpenAiApi"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Parse and validate the AI tomorrow outlook output.\nconst rawContent = $input.first().json?.message?.content\n  || $input.first().json?.choices?.[0]?.message?.content\n  || '';\nconst ctx = $('Execute Workflow Trigger').first().json;\n\nlet tomorrow_outlook;\ntry {\n  const cleaned = rawContent.replace(/^```[a-z]*\\n?|\\n?```$/g, '').trim();\n  tomorrow_outlook = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(`Failed to parse tomorrow outlook JSON for ${ctx.topic_slug}/${ctx.date_key}: ${e.message}`);\n}\n\n// Validate required fields\nif (!Array.isArray(tomorrow_outlook.key_watchpoints) || tomorrow_outlook.key_watchpoints.length === 0) {\n  throw new Error('Tomorrow outlook missing key_watchpoints');\n}\nif (typeof tomorrow_outlook.outlook_summary !== 'string' || tomorrow_outlook.outlook_summary.length < 50) {\n  throw new Error('Tomorrow outlook missing or too short outlook_summary');\n}\nif (!['low', 'medium', 'high'].includes(tomorrow_outlook.risk_level)) {\n  tomorrow_outlook.risk_level = 'medium';\n}\n\n// Trim and clamp\ntomorrow_outlook.key_watchpoints = tomorrow_outlook.key_watchpoints.slice(0, 5).map(w => ({\n  title: String(w.title || '').slice(0, 100),\n  description: String(w.description || '').slice(0, 300)\n}));\ntomorrow_outlook.scheduled_events = (tomorrow_outlook.scheduled_events || []).slice(0, 5).map(e => ({\n  title: String(e.title || '').slice(0, 150),\n  time_hint: e.time_hint ? String(e.time_hint).slice(0, 50) : null,\n  impact: ['high', 'medium', 'low'].includes(e.impact) ? e.impact : 'medium'\n}));\ntomorrow_outlook.outlook_summary = String(tomorrow_outlook.outlook_summary).slice(0, 600);\n\nreturn [{ json: { ...ctx, tomorrow_outlook } }];"
      },
      "id": "d1e2f3a4-0005-0005-0005-000000000003",
      "name": "Parse and Validate Tomorrow Outlook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Generate Tomorrow Outlook with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Tomorrow Outlook with AI": {
      "main": [
        [
          {
            "node": "Parse and Validate Tomorrow Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "errorWorkflow": "={{ $vars.FAILURE_NOTIFIER_WORKFLOW_ID }}"
  },
  "id": "daily-05-generate-tomorrow-outlook-v1",
  "tags": [
    "daily",
    "editorial",
    "ai",
    "tomorrow-outlook",
    "v1"
  ]
}
