workflows/n8n/daily/06c_generate_narration.json
{
  "name": "Daily — 06c Generate Narration",
  "nodes": [
    {
      "parameters": {},
      "id": "d2e3f4a5-006c-006c-006c-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build the narration text from the daily video script context.\n// Concatenates the intro, each segment script, and the outro into a\n// single spoken-word narration string suitable for TTS.\n//\n// Also resolves the TTS provider, model, voice, and language code to use,\n// following the same pattern as 06b_generate_images.json.\n\nconst ctx = $input.first().json;\nconst script = ctx.video_script || ctx.script || {};\nconst topic_slug = ctx.topic_slug;\nconst date_key = ctx.date_key;\n\n// Build narration text from the structured video script.\n// Falls back to a minimal placeholder when the script is absent or\n// incomplete so the TTS step can still be validated non-blocking.\nconst parts = [];\nif (script.intro) parts.push(String(script.intro).trim());\nif (Array.isArray(script.segments)) {\n  script.segments.forEach(seg => {\n    if (seg && seg.script) parts.push(String(seg.script).trim());\n  });\n}\nif (script.outro) parts.push(String(script.outro).trim());\n\nconst narration_text = parts.join(' ') || `Daily ${topic_slug} briefing for ${date_key}.`;\n\n// Provider and model selection — mirrors 06b_generate_images.js.\n// AI_PROVIDER n8n variable selects the active provider.\n// Falls back to 'openai' for any unrecognised value.\nconst provider = ($vars.AI_PROVIDER || 'openai').toLowerCase();\nconst effective_provider = ['openai', 'google'].includes(provider) ? provider : 'openai';\n\n// Model defaults mirror OPENAI_MODEL_DEFAULTS / GOOGLE_MODEL_DEFAULTS in openaiConfig.js.\nconst TTS_MODEL_DEFAULTS = {\n  openai: $vars.OPENAI_MODEL_TTS || 'gpt-4o-mini-tts',\n  google: $vars.GOOGLE_MODEL_TTS || 'en-US-Chirp3-HD-Aoede',\n};\nconst tts_model = TTS_MODEL_DEFAULTS[effective_provider];\n\n// Voice selection.\n// Provider-specific variables take precedence over the shared AI_TTS_VOICE.\n// Defaults mirror TTS_VOICE_DEFAULTS in openaiConfig.js.\nconst TTS_VOICE_DEFAULTS = {\n  openai: 'alloy',\n  google: 'en-US-Chirp3-HD-Aoede',\n};\nconst tts_voice =\n  (effective_provider === 'openai'\n    ? ($vars.OPENAI_TTS_VOICE || $vars.AI_TTS_VOICE || TTS_VOICE_DEFAULTS.openai)\n    : ($vars.GOOGLE_TTS_VOICE || $vars.AI_TTS_VOICE || TTS_VOICE_DEFAULTS.google)\n  ).trim() || TTS_VOICE_DEFAULTS[effective_provider];\n\n// Google TTS language code.\n// Resolved in priority order:\n//   1. GOOGLE_TTS_LANGUAGE_CODE — provider-specific explicit override\n//   2. AI_TTS_LANGUAGE_CODE     — shared explicit override\n//   3. Derived from the first two BCP-47 segments of the voice name\n//      (e.g. 'en-US-Chirp3-HD-Aoede' → 'en-US').\n//      Voice names without at least two BCP-47 segments fall back to 'en-US'.\n//   4. Hard default 'en-US'\n//\n// This ensures that overriding GOOGLE_TTS_VOICE to e.g. 'fr-FR-Standard-A'\n// automatically resolves the correct languageCode without any extra config.\nfunction deriveLanguageCode(voiceName) {\n  if (!voiceName || typeof voiceName !== 'string') return 'en-US';\n  const segments = voiceName.split('-');\n  if (segments.length >= 2) {\n    return `${segments[0]}-${segments[1]}`;\n  }\n  return 'en-US';\n}\n\nconst tts_language_code =\n  (($vars.GOOGLE_TTS_LANGUAGE_CODE || $vars.AI_TTS_LANGUAGE_CODE || '').trim())\n  || deriveLanguageCode(tts_voice);\n\n// Character limit safeguard — most TTS APIs cap around 4096 chars per call.\n// Truncate with an ellipsis to avoid hard API errors while keeping the asset\n// non-blocking (a warning is attached in the normalize step if truncated).\nconst MAX_CHARS = 4096;\nconst truncated = narration_text.length > MAX_CHARS;\nconst safe_text = truncated ? narration_text.slice(0, MAX_CHARS - 3) + '...' : narration_text;\n\nreturn [{\n  json: {\n    ...ctx,\n    _tts_text: safe_text,\n    _tts_text_truncated: truncated,\n    _tts_char_count: safe_text.length,\n    _tts_provider: effective_provider,\n    _tts_model: tts_model,\n    _tts_voice: tts_voice,\n    _tts_language_code: tts_language_code,\n  }\n}];"
      },
      "id": "d2e3f4a5-006c-006c-006c-000000000002",
      "name": "Build Narration Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._tts_provider }}",
                    "rightValue": "google",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "google"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._tts_provider }}",
                    "rightValue": "openai",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "openai"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "d2e3f4a5-006c-006c-006c-000000000003",
      "name": "Route by Provider",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://texttospeech.googleapis.com/v1/text:synthesize",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  input: { text: $json._tts_text },\n  voice: {\n    languageCode: $json._tts_language_code,\n    name: $json._tts_voice\n  },\n  audioConfig: {\n    audioEncoding: 'MP3'\n  }\n} }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "d2e3f4a5-006c-006c-006c-000000000004",
      "name": "Generate Narration — Google TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        200
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "google-api-key-credentials",
          "name": "GoogleApiKey"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/audio/speech",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: $json._tts_model,\n  input: $json._tts_text,\n  voice: $json._tts_voice,\n  response_format: 'mp3'\n} }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "d2e3f4a5-006c-006c-006c-000000000005",
      "name": "Generate Narration — OpenAI TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openai-api-credentials",
          "name": "OpenAiApi"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Normalize the Google Cloud TTS API response to the shared narration asset contract.\n// Non-blocking: if the API returned an error or no audioContent, returns ctx with a warning.\n// Google Cloud TTS returns: { audioContent: '<base64 encoded MP3>' }\n\nconst raw = $input.first().json;\nconst ctx = $('Build Narration Text').first().json;\nconst ts = new Date().toISOString();\n\n// Strip internal underscore-prefixed keys from ctx before merging\nconst { _tts_text, _tts_text_truncated, _tts_char_count, _tts_provider, _tts_model, _tts_voice, _tts_language_code, ...cleanCtx } = ctx;\n\n// Check for HTTP/API errors (continueOnFail passes errors as json)\nconst apiError = raw?.error || null;\nconst audioContent = raw?.audioContent || null;\n\nif (apiError || !audioContent) {\n  const reason = apiError\n    ? `Google TTS API error: ${JSON.stringify(apiError).slice(0, 300)}`\n    : `Google TTS returned no audioContent for ${ctx.topic_slug}/${ctx.date_key}`;\n  const narration_asset = {\n    provider: 'google',\n    model: ctx._tts_model,\n    voice: ctx._tts_voice,\n    format: 'b64_json',\n    audio_encoding: 'mp3',\n    audio_b64: null,\n    char_count: ctx._tts_char_count,\n    duration_seconds: null,\n    generated_at: ts,\n    warning: reason.slice(0, 500),\n  };\n  return [{ json: { ...cleanCtx, narration_asset } }];\n}\n\nconst truncationWarning = ctx._tts_text_truncated\n  ? `Input text was truncated to 4096 characters (original exceeded limit).`\n  : null;\n\nconst narration_asset = {\n  provider: 'google',\n  model: ctx._tts_model,\n  voice: ctx._tts_voice,\n  format: 'b64_json',\n  audio_encoding: 'mp3',\n  audio_b64: audioContent,\n  char_count: ctx._tts_char_count,\n  duration_seconds: null,\n  generated_at: ts,\n  warning: truncationWarning,\n};\n\nreturn [{ json: { ...cleanCtx, narration_asset } }];"
      },
      "id": "d2e3f4a5-006c-006c-006c-000000000006",
      "name": "Normalize Google Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Normalize the OpenAI /v1/audio/speech binary response to the shared narration asset contract.\n// Non-blocking: if the API returned an error, returns ctx with a warning.\n// OpenAI returns binary MP3 audio; n8n HTTP Request (response format: file) exposes it\n// via $input.first().binary.  We extract the base64-encoded data from the binary item.\n\nconst item = $input.first();\nconst ctx = $('Build Narration Text').first().json;\nconst ts = new Date().toISOString();\n\n// Strip internal underscore-prefixed keys from ctx before merging\nconst { _tts_text, _tts_text_truncated, _tts_char_count, _tts_provider, _tts_model, _tts_voice, _tts_language_code, ...cleanCtx } = ctx;\n\n// Check for HTTP/API errors stored in json when continueOnFail is active\nconst apiError = item?.json?.error || null;\n\nif (apiError) {\n  const reason = `OpenAI TTS API error: ${JSON.stringify(apiError).slice(0, 300)}`;\n  const narration_asset = {\n    provider: 'openai',\n    model: ctx._tts_model,\n    voice: ctx._tts_voice,\n    format: 'b64_json',\n    audio_encoding: 'mp3',\n    audio_b64: null,\n    char_count: ctx._tts_char_count,\n    duration_seconds: null,\n    generated_at: ts,\n    warning: reason.slice(0, 500),\n  };\n  return [{ json: { ...cleanCtx, narration_asset } }];\n}\n\n// Extract base64 audio from the binary item.\n// n8n stores binary file responses under $binary with a key matching the\n// field name (typically 'data'). The .data property holds the base64 string.\nconst binaryKey = Object.keys(item.binary || {})[0] || 'data';\nconst audio_b64 = item?.binary?.[binaryKey]?.data || null;\n\nif (!audio_b64) {\n  const reason = `OpenAI TTS returned no binary audio for ${ctx.topic_slug}/${ctx.date_key}`;\n  const narration_asset = {\n    provider: 'openai',\n    model: ctx._tts_model,\n    voice: ctx._tts_voice,\n    format: 'b64_json',\n    audio_encoding: 'mp3',\n    audio_b64: null,\n    char_count: ctx._tts_char_count,\n    duration_seconds: null,\n    generated_at: ts,\n    warning: reason.slice(0, 500),\n  };\n  return [{ json: { ...cleanCtx, narration_asset } }];\n}\n\nconst truncationWarning = ctx._tts_text_truncated\n  ? `Input text was truncated to 4096 characters (original exceeded limit).`\n  : null;\n\nconst narration_asset = {\n  provider: 'openai',\n  model: ctx._tts_model,\n  voice: ctx._tts_voice,\n  format: 'b64_json',\n  audio_encoding: 'mp3',\n  audio_b64,\n  char_count: ctx._tts_char_count,\n  duration_seconds: null,\n  generated_at: ts,\n  warning: truncationWarning,\n};\n\nreturn [{ json: { ...cleanCtx, narration_asset } }];"
      },
      "id": "d2e3f4a5-006c-006c-006c-000000000007",
      "name": "Normalize OpenAI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Validate the normalized narration asset against the shared contract.\n// Non-blocking: logs a warning but does not throw, so a failed TTS step\n// never blocks the rest of the daily editorial pipeline.\n\nconst VALID_PROVIDERS = ['openai', 'google'];\nconst VALID_FORMATS = ['b64_json'];\nconst VALID_ENCODINGS = ['mp3', 'opus', 'aac', 'flac', 'wav', 'pcm'];\n\nconst ctx = $input.first().json;\nconst asset = ctx.narration_asset;\n\nconst errors = [];\n\nif (!asset || typeof asset !== 'object') {\n  errors.push('narration_asset is missing or not an object');\n} else {\n  if (!VALID_PROVIDERS.includes(asset.provider)) errors.push(`provider \"${asset.provider}\" is invalid`);\n  if (!asset.model || typeof asset.model !== 'string') errors.push('model missing or not a string');\n  if (!asset.voice || typeof asset.voice !== 'string') errors.push('voice missing or not a string');\n  if (!VALID_FORMATS.includes(asset.format)) errors.push(`format \"${asset.format}\" is invalid`);\n  if (!VALID_ENCODINGS.includes(asset.audio_encoding)) errors.push(`audio_encoding \"${asset.audio_encoding}\" is invalid`);\n  if (!Number.isInteger(asset.char_count) || asset.char_count < 1) errors.push('char_count must be a positive integer');\n  if (!asset.generated_at || typeof asset.generated_at !== 'string') errors.push('generated_at missing or not a string');\n  if (asset.audio_b64 !== null && asset.audio_b64 !== undefined && typeof asset.audio_b64 !== 'string') {\n    errors.push('audio_b64 must be a string or null');\n  }\n}\n\nif (errors.length > 0) {\n  console.warn(\n    `Narration asset validation warnings for ${ctx.topic_slug}/${ctx.date_key} (${errors.length}):`,\n    errors.join(', ')\n  );\n  return [{ json: { ...ctx, narration_asset_warnings: errors } }];\n}\n\nreturn [{ json: { ...ctx, narration_asset_warnings: null } }];"
      },
      "id": "d2e3f4a5-006c-006c-006c-000000000008",
      "name": "Validate Narration Asset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Narration Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Narration Text": {
      "main": [
        [
          {
            "node": "Route by Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Provider": {
      "google": [
        [
          {
            "node": "Generate Narration — Google TTS",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "openai": [
        [
          {
            "node": "Generate Narration — OpenAI TTS",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "extra": [
        [
          {
            "node": "Generate Narration — OpenAI TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Narration — Google TTS": {
      "main": [
        [
          {
            "node": "Normalize Google Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Narration — OpenAI TTS": {
      "main": [
        [
          {
            "node": "Normalize OpenAI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Google Response": {
      "main": [
        [
          {
            "node": "Validate Narration Asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize OpenAI Response": {
      "main": [
        [
          {
            "node": "Validate Narration Asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "errorWorkflow": "={{ $vars.FAILURE_NOTIFIER_WORKFLOW_ID }}"
  },
  "id": "daily-06c-generate-narration-v1",
  "tags": [
    "daily",
    "editorial",
    "ai",
    "tts",
    "narration",
    "audio",
    "media",
    "v1"
  ]
}