workflows/n8n/daily/07_generate_youtube_metadata.json
{
  "name": "Daily — 07 Generate YouTube Metadata",
  "nodes": [
    {
      "parameters": {},
      "id": "d1e2f3a4-0007-0007-0007-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": "={{ $vars.AI_MODEL_FAST || 'gpt-4o-mini' }}",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a YouTube SEO specialist for a financial and technology news channel. Generate optimised YouTube metadata for the daily briefing video. Return ONLY a valid JSON object that exactly matches the schema below. Do not include markdown, code fences, or any text outside the JSON object.\n\nSchema:\n{\n  \"title\": \"<YouTube title, 10-100 chars, engaging and SEO-friendly, no clickbait, include topic and date>\",\n  \"description\": \"<YouTube description, 100-5000 chars, plain text, no HTML, include brief overview, key topics covered, and a subscribe CTA>\",\n  \"tags\": [\"<tag1>\", \"<tag2>\"],\n  \"category\": \"News & Politics\",\n  \"visibility\": \"public\"\n}\n\nGuidelines:\n- title: lead with the most compelling event; include the topic name and date (e.g. 'Jan 15 2025'); max 100 chars\n- description: 150-300 words; open with a 1-2 sentence hook, then bullet the main topics covered, then a CTA\n- tags: 8-15 tags; mix broad topic terms (e.g. 'crypto', 'bitcoin') with specific event terms; each max 100 chars\n- category: always 'News & Politics'\n- visibility: always 'public'"
            },
            {
              "role": "user",
              "content": "=Generate YouTube metadata for the {{ $json.topic_slug }} daily briefing on {{ $json.date_key }}.\n\nVideo headline: {{ $json.summary.headline }}\nOverview: {{ $json.summary.overview }}\nSentiment: {{ $json.summary.sentiment }}\n\nKey events:\n{{ $json.summary.key_events.map((e, i) => `${i+1}. ${e.title}`).join('\\n') }}\n\nVideo intro: {{ $json.video_script.intro.slice(0, 200) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2,
          "maxTokens": 800
        }
      },
      "id": "d1e2f3a4-0007-0007-0007-000000000002",
      "name": "Generate YouTube Metadata with AI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-api-credentials",
          "name": "OpenAiApi"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Parse and validate the AI YouTube metadata output.\nconst rawContent = $input.first().json?.message?.content\n  || $input.first().json?.choices?.[0]?.message?.content\n  || '';\nconst ctx = $('Execute Workflow Trigger').first().json;\n\nlet youtube_metadata;\ntry {\n  const cleaned = rawContent.replace(/^```[a-z]*\\n?|\\n?```$/g, '').trim();\n  youtube_metadata = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(`Failed to parse YouTube metadata JSON for ${ctx.topic_slug}/${ctx.date_key}: ${e.message}`);\n}\n\n// Validate required fields\nif (!youtube_metadata.title || youtube_metadata.title.length < 10) {\n  throw new Error('YouTube metadata missing or too short title');\n}\nif (!youtube_metadata.description || youtube_metadata.description.length < 100) {\n  throw new Error('YouTube metadata missing or too short description');\n}\nif (!Array.isArray(youtube_metadata.tags) || youtube_metadata.tags.length < 5) {\n  throw new Error('YouTube metadata missing tags (minimum 5 required)');\n}\n\n// Enforce limits\nyoutube_metadata.title = String(youtube_metadata.title).slice(0, 100);\nyoutube_metadata.description = String(youtube_metadata.description).slice(0, 5000);\nyoutube_metadata.tags = youtube_metadata.tags\n  .slice(0, 15)\n  .map(t => String(t).slice(0, 100).toLowerCase().trim())\n  .filter(t => t.length >= 2);\nyoutube_metadata.category = youtube_metadata.category || 'News & Politics';\nyoutube_metadata.visibility = ['public', 'unlisted', 'private'].includes(youtube_metadata.visibility)\n  ? youtube_metadata.visibility\n  : 'public';\n\nreturn [{ json: { ...ctx, youtube_metadata } }];"
      },
      "id": "d1e2f3a4-0007-0007-0007-000000000003",
      "name": "Parse and Validate YouTube Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [{ "node": "Generate YouTube Metadata with AI", "type": "main", "index": 0 }]
      ]
    },
    "Generate YouTube Metadata with AI": {
      "main": [
        [{ "node": "Parse and Validate YouTube Metadata", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "errorWorkflow": "={{ $vars.FAILURE_NOTIFIER_WORKFLOW_ID }}"
  },
  "id": "daily-07-generate-youtube-metadata-v1",
  "tags": ["daily", "editorial", "ai", "youtube", "v1"]
}
