workflows/n8n/daily/11_generate_meta_social.json
{
  "name": "Daily — 11 Generate Meta Social",
  "nodes": [
    {
      "parameters": {},
      "id": "d1e2f3a4-0011-0011-0011-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Check whether Meta social generation is enabled before running.\n// Reads ENABLE_META_INSTAGRAM and ENABLE_META_FACEBOOK from n8n Variables.\n// If both platforms are disabled, skip generation entirely.\nconst enableInstagram = ($vars.ENABLE_META_INSTAGRAM || '').toLowerCase() === 'true';\nconst enableFacebook  = ($vars.ENABLE_META_FACEBOOK  || '').toLowerCase() === 'true';\n\nif (!enableInstagram && !enableFacebook) {\n  // Return a sentinel item so the workflow can short-circuit cleanly\n  return [{ json: { _meta_skip: true, reason: 'All Meta platforms disabled' } }];\n}\n\nconst ctx = $input.first().json;\n\nif (!ctx.topic_slug || !ctx.date_key) {\n  throw new Error('Missing topic_slug or date_key in input context');\n}\n\nif (!ctx.summary) {\n  throw new Error(`No summary found in context for ${ctx.topic_slug}/${ctx.date_key}`);\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    _meta_enable_instagram: enableInstagram,\n    _meta_enable_facebook:  enableFacebook,\n    _meta_skip: false\n  }\n}];"
      },
      "id": "d1e2f3a4-0011-0011-0011-000000000002",
      "name": "Check Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json._meta_skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "d1e2f3a4-0011-0011-0011-000000000003",
      "name": "Meta Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Platforms disabled — stop this branch cleanly.\nreturn [{ json: { _meta_skip: true, reason: 'All Meta platforms disabled — generation skipped' } }];"
      },
      "id": "d1e2f3a4-0011-0011-0011-000000000004",
      "name": "Skip — Disabled",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build the AI prompt for Meta social post generation from the daily summary.\nconst ctx = $input.first().json;\nconst summary = ctx.summary;\n\nconst topicEmoji = {\n  crypto:     '🪙',\n  finance:    '📈',\n  economy:    '🏦',\n  health:     '🏥',\n  ai:         '🤖',\n  energy:     '⚡',\n  technology: '💻'\n};\nconst emoji = topicEmoji[ctx.topic_slug] || '📰';\n\n// Build key events summary for prompt context (top 3)\nconst keyEventsText = (summary.key_events || []).slice(0, 3)\n  .map((e, i) => `${i + 1}. ${e.title}: ${e.significance}`)\n  .join('\\n');\n\nconst systemPrompt = `You are a social media content writer for a professional financial intelligence platform. Generate engaging, factual Instagram and Facebook posts from daily topic summaries. Always produce structured JSON output exactly matching the specified schema. Keep language professional but accessible. No clickbait or sensationalism.`;\n\nconst userPrompt = `Generate a Meta social post for the following daily summary.\n\nTopic: ${ctx.topic_slug} ${emoji}\nDate: ${ctx.date_key}\nHeadline: ${summary.headline}\nSentiment: ${summary.sentiment}\nTopic Score: ${summary.topic_score}/100\n\nOverview:\n${summary.overview}\n\nKey Events:\n${keyEventsText}\n\nReturn a JSON object with these exact fields:\n- post_caption (string, 150–500 chars): Engaging feed caption for Instagram and Facebook. Factual. No hashtags in caption body.\n- hashtags (array of strings, 8–20 items): Relevant hashtags including # prefix. Mix broad topic tags and specific event tags.\n- image_prompt (string, 30–300 chars): Guidance for generating or selecting a background image. Describe visual mood and style.\n- story_caption (string, 40–150 chars): Short punchy caption for the story format.\n- story_background_hint (string, 20–150 chars): Visual hint for story background style.\n- cta (string or null, max 120 chars): Optional call-to-action. Use 'Full daily ${ctx.topic_slug} briefing — link in bio.' or null.\n\nRespond with valid JSON only. No markdown fences.`;\n\nreturn [{\n  json: {\n    ...ctx,\n    _prompt_system: systemPrompt,\n    _prompt_user:   userPrompt\n  }\n}];"
      },
      "id": "d1e2f3a4-0011-0011-0011-000000000005",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $vars.AI_MODEL_FAST || 'gpt-4o-mini' }}"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json._prompt_system }}",
              "role": "system"
            },
            {
              "content": "={{ $json._prompt_user }}"
            }
          ]
        },
        "options": {
          "temperature": 0.6,
          "maxTokens": 800
        }
      },
      "id": "d1e2f3a4-0011-0011-0011-000000000006",
      "name": "AI Generate Social Post",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-api-credentials",
          "name": "OpenAI"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse and validate the AI JSON output.\n// Required fields: post_caption, hashtags, image_prompt\nconst ctx = $('Build AI Prompt').item.json;\nconst rawText = $input.item.json?.message?.content\n             || $input.item.json?.choices?.[0]?.message?.content\n             || $input.item.json?.text\n             || '';\n\nlet parsed;\ntry {\n  // Strip markdown fences if present\n  const cleaned = rawText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(`Meta social AI output is not valid JSON: ${e.message}. Raw: ${rawText.slice(0, 300)}`);\n}\n\n// Required field validation\nconst required = ['post_caption', 'hashtags', 'image_prompt'];\nfor (const field of required) {\n  if (!parsed[field]) {\n    throw new Error(`Meta social AI output missing required field: ${field}`);\n  }\n}\n\nif (!Array.isArray(parsed.hashtags) || parsed.hashtags.length < 3) {\n  throw new Error(`Meta social AI output hashtags must be an array with at least 3 items`);\n}\n\n// Clamp post_caption to 2000 chars (schema max)\nif (typeof parsed.post_caption === 'string' && parsed.post_caption.length > 2000) {\n  parsed.post_caption = parsed.post_caption.slice(0, 1997) + '...';\n}\n\n// Clamp story_caption to 200 chars\nif (typeof parsed.story_caption === 'string' && parsed.story_caption.length > 200) {\n  parsed.story_caption = parsed.story_caption.slice(0, 197) + '...';\n}\n\n// Ensure hashtags have # prefix\nparsed.hashtags = parsed.hashtags.map(h =>\n  typeof h === 'string' ? (h.startsWith('#') ? h : '#' + h) : h\n);\n\nreturn [{ json: { ...ctx, _ai_output: parsed } }];"
      },
      "id": "d1e2f3a4-0011-0011-0011-000000000007",
      "name": "Parse and Validate AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Apply platform-specific formatting to produce the meta_social_asset contract.\n// Instagram: caption max 2200 chars, hashtags at end\n// Facebook: caption max 63206 chars, hashtags at end\n\nconst ctx = $input.first().json;\nconst ai  = ctx._ai_output;\n\n// Retrieve base topic hashtags from config (hardcoded here for workflow portability)\nconst topicBaseHashtags = {\n  crypto:     ['#crypto', '#blockchain', '#digitalassets', '#web3'],\n  finance:    ['#finance', '#investing', '#markets', '#stocks'],\n  economy:    ['#economy', '#macroeconomics', '#fed', '#inflation'],\n  health:     ['#health', '#wellness', '#medicine', '#healthcare'],\n  ai:         ['#AI', '#artificialintelligence', '#machinelearning', '#tech'],\n  energy:     ['#energy', '#renewableenergy', '#oilandgas', '#cleanenergy'],\n  technology: ['#technology', '#tech', '#innovation', '#software']\n};\n\n// Merge AI hashtags with topic base hashtags (deduplicate)\nconst baseHashtags = topicBaseHashtags[ctx.topic_slug] || [];\nconst allHashtags = [...new Set([...ai.hashtags, ...baseHashtags])].slice(0, 30);\nconst hashtagLine = allHashtags.join(' ');\n\n// CTA line\nconst ctaText = ai.cta || `Follow for daily ${ctx.topic_slug} updates.`;\n\n// Build full caption body (shared base)\nconst captionBody = ai.post_caption.trim();\n\n// Instagram caption: caption body + CTA + hashtags, max 2200 chars\nfunction buildInstagramCaption(body, cta, hashtags) {\n  const ctaBlock   = cta ? '\\n\\n' + cta : '';\n  const hashBlock  = '\\n\\n' + hashtags;\n  const full = body + ctaBlock + hashBlock;\n  if (full.length <= 2200) return full;\n  // Trim caption body to fit within 2200\n  const overhead = ctaBlock.length + hashBlock.length;\n  const trimmed  = body.slice(0, 2200 - overhead - 4) + '...';\n  return trimmed + ctaBlock + hashBlock;\n}\n\n// Facebook caption: same structure, higher limit (63206)\nfunction buildFacebookCaption(body, cta, hashtags) {\n  const ctaBlock  = cta ? '\\n\\n' + cta : '';\n  const hashBlock = '\\n\\n' + hashtags;\n  const full = body + ctaBlock + hashBlock;\n  // Facebook's limit is large enough that truncation is almost never needed\n  return full.length <= 63206 ? full : full.slice(0, 63202) + '...';\n}\n\nconst enableInstagram   = !!ctx._meta_enable_instagram;\nconst enableFacebook    = !!ctx._meta_enable_facebook;\nconst enableIgStories   = ($vars.ENABLE_META_INSTAGRAM_STORIES || '').toLowerCase() === 'true';\nconst enableFbStories   = ($vars.ENABLE_META_FACEBOOK_STORIES  || '').toLowerCase() === 'true';\n\nconst asset = {\n  topic_slug:     ctx.topic_slug,\n  date_key:       ctx.date_key,\n  asset_type:     'daily_post',\n  source_type:    'daily_summary',\n  source_id:      null,\n  publish_job_id: ctx.publish_job_id || null,\n  ai_output: {\n    post_caption:          ai.post_caption,\n    hashtags:              ai.hashtags,\n    image_prompt:          ai.image_prompt,\n    story_caption:         ai.story_caption || null,\n    story_background_hint: ai.story_background_hint || null,\n    cta:                   ai.cta || null\n  },\n  instagram: {\n    enabled:       enableInstagram,\n    caption:       buildInstagramCaption(captionBody, ctaText, hashtagLine),\n    story_caption: ai.story_caption || null,\n    story_enabled: enableInstagram && enableIgStories\n  },\n  facebook: {\n    enabled:       enableFacebook,\n    caption:       buildFacebookCaption(captionBody, ctaText, hashtagLine),\n    story_caption: ai.story_caption || null,\n    story_enabled: enableFacebook && enableFbStories\n  },\n  generated_at: new Date().toISOString()\n};\n\nreturn [{ json: asset }];"
      },
      "id": "d1e2f3a4-0011-0011-0011-000000000008",
      "name": "Format Platform Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Check Config", "type": "main", "index": 0 }]]
    },
    "Check Config": {
      "main": [[{ "node": "Meta Enabled?", "type": "main", "index": 0 }]]
    },
    "Meta Enabled?": {
      "main": [
        [{ "node": "Skip — Disabled", "type": "main", "index": 0 }],
        [{ "node": "Build AI Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build AI Prompt": {
      "main": [[{ "node": "AI Generate Social Post", "type": "main", "index": 0 }]]
    },
    "AI Generate Social Post": {
      "main": [[{ "node": "Parse and Validate AI Output", "type": "main", "index": 0 }]]
    },
    "Parse and Validate AI Output": {
      "main": [[{ "node": "Format Platform Payloads", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "errorWorkflow": "={{ $vars.FAILURE_NOTIFIER_WORKFLOW_ID }}"
  },
  "id": "daily-11-generate-meta-social-v1",
  "tags": ["daily", "meta", "social", "instagram", "facebook", "v1"]
}
