workflows/n8n/daily/14_publish_social_channels.json
{
  "name": "Daily — 14 Publish Social Channels",
  "nodes": [
    {
      "parameters": {},
      "id": "d1e2f3a4-0014-0014-0014-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Validate input and guard against skipped/disabled cases.\nconst asset = $input.first().json;\n\nif (asset._social_skip) {\n  return [{ json: { _publish_skip: true, reason: asset.reason || 'Social publishing skipped' } }];\n}\n\nconst required = ['topic_slug', 'date_key', 'asset_type', 'x', 'telegram', 'discord'];\nfor (const f of required) {\n  if (!asset[f]) {\n    throw new Error(`social_content_asset missing required field: ${f}`);\n  }\n}\n\nreturn [{ json: { ...asset, _publish_skip: false } }];"
      },
      "id": "d1e2f3a4-0014-0014-0014-000000000002",
      "name": "Validate Asset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json._publish_skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "d1e2f3a4-0014-0014-0014-000000000003",
      "name": "Should Publish?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { _publish_skip: true, reason: 'Publishing skipped — all channels disabled or no asset' } }];"
      },
      "id": "d1e2f3a4-0014-0014-0014-000000000004",
      "name": "Skip — Nothing to Publish",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Expand asset into per-platform publish tasks.\n// Each enabled platform produces one task.\nconst asset = $input.first().json;\nconst tasks = [];\n\nif (asset.x && asset.x.enabled) {\n  tasks.push({\n    platform:       'x',\n    post_type:      'post',\n    post_text:      asset.x.post_text,\n    thread:         asset.x.thread,\n    topic_slug:     asset.topic_slug,\n    date_key:       asset.date_key,\n    publish_job_id: asset.publish_job_id\n  });\n}\n\nif (asset.telegram && asset.telegram.enabled) {\n  tasks.push({\n    platform:       'telegram',\n    post_type:      'digest',\n    message_html:   asset.telegram.message_html,\n    topic_slug:     asset.topic_slug,\n    date_key:       asset.date_key,\n    publish_job_id: asset.publish_job_id\n  });\n}\n\nif (asset.discord && asset.discord.enabled) {\n  tasks.push({\n    platform:       'discord',\n    post_type:      'embed',\n    embed:          asset.discord.embed,\n    topic_slug:     asset.topic_slug,\n    date_key:       asset.date_key,\n    publish_job_id: asset.publish_job_id\n  });\n}\n\nif (tasks.length === 0) {\n  return [{ json: { _publish_skip: true, reason: 'No publish tasks — all channels disabled' } }];\n}\n\nreturn tasks.map(t => ({ json: t }));"
      },
      "id": "d1e2f3a4-0014-0014-0014-000000000005",
      "name": "Expand Publish Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Resolve the API endpoint and credentials for each platform task.\n// Returns _api_skip: true (with a reason) instead of throwing when credentials\n// are missing, so other platform tasks in the same execution can still proceed.\n\nconst task = $input.item.json;\n\nfunction skipTask(reason) {\n  console.log(`[Resolve API Endpoint] Skipping ${task.platform || 'unknown'} task: ${reason}`);\n  return [{ json: { ...task, _api_skip: true, _api_skip_reason: reason } }];\n}\n\nif (task.platform === 'x') {\n  const xBearerToken = $vars.SOCIAL_X_BEARER_TOKEN || null;\n  if (!xBearerToken) {\n    return skipTask('X publishing skipped: missing SOCIAL_X_BEARER_TOKEN in n8n Variables');\n  }\n  return [{ json: {\n    ...task,\n    _api_url:    'https://api.twitter.com/2/tweets',\n    _api_method: 'POST',\n    _api_headers: { 'Authorization': `Bearer ${xBearerToken}`, 'Content-Type': 'application/json' },\n    _api_body:   { text: task.post_text }\n  } }];\n}\n\nif (task.platform === 'telegram') {\n  const botToken = $vars.SOCIAL_TELEGRAM_BOT_TOKEN || $vars.TELEGRAM_BOT_TOKEN || null;\n  const chatId   = $vars.SOCIAL_TELEGRAM_CHAT_ID   || $vars.TELEGRAM_CHAT_ID   || null;\n  if (!botToken || !chatId) {\n    return skipTask('Telegram publishing skipped: missing SOCIAL_TELEGRAM_BOT_TOKEN and/or SOCIAL_TELEGRAM_CHAT_ID');\n  }\n  return [{ json: {\n    ...task,\n    _api_url:    `https://api.telegram.org/bot${botToken}/sendMessage`,\n    _api_method: 'POST',\n    _api_headers: { 'Content-Type': 'application/json' },\n    _api_body:   { chat_id: chatId, text: task.message_html, parse_mode: 'HTML', disable_web_page_preview: false }\n  } }];\n}\n\nif (task.platform === 'discord') {\n  const webhookUrl = $vars.SOCIAL_DISCORD_WEBHOOK_URL || $vars.DISCORD_WEBHOOK_URL || null;\n  if (!webhookUrl) {\n    return skipTask('Discord publishing skipped: missing SOCIAL_DISCORD_WEBHOOK_URL');\n  }\n  return [{ json: {\n    ...task,\n    _api_url:    webhookUrl,\n    _api_method: 'POST',\n    _api_headers: { 'Content-Type': 'application/json' },\n    _api_body:   { embeds: [task.embed] }\n  } }];\n}\n\nreturn skipTask(`Unknown platform: ${task.platform}`);"
      },
      "id": "d1e2f3a4-0014-0014-0014-000000000006",
      "name": "Resolve API Endpoint",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json._api_url }}",
        "method": "={{ $json._api_method }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json._api_headers?.Authorization || '' }}"
            },
            {
              "name": "Content-Type",
              "value": "={{ $json._api_headers?.['Content-Type'] || 'application/json' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._api_body }}",
        "options": {
          "timeout": 15000,
          "ignoreResponseCode": true
        }
      },
      "id": "d1e2f3a4-0014-0014-0014-000000000007",
      "name": "Call Platform API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1340,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Handle API response and extract publish result.\n// Each platform returns different response shapes.\nconst response = $input.item.json;\nconst task     = $('Resolve API Endpoint').item.json;\n\nconst statusCode = response._statusCode || response.statusCode || null;\nconst hasError = !!response.error || !!response.errors || (statusCode && statusCode >= 400);\n\nif (hasError) {\n  const errMsg = response.error\n    ? (typeof response.error === 'string' ? response.error : JSON.stringify(response.error).slice(0, 300))\n    : response.errors\n      ? JSON.stringify(response.errors).slice(0, 300)\n      : `HTTP ${statusCode} — ${JSON.stringify(response).slice(0, 300)}`;\n  return [{ json: {\n    platform:         task.platform,\n    post_type:        task.post_type,\n    topic_slug:       task.topic_slug,\n    date_key:         task.date_key,\n    status:           'failed',\n    platform_post_id: null,\n    error_message:    errMsg\n  } }];\n}\n\n// Extract platform-specific post ID\nlet postId = null;\nif (task.platform === 'x') {\n  postId = response.data?.id || response.id || null;\n} else if (task.platform === 'telegram') {\n  postId = response.result?.message_id?.toString() || null;\n} else if (task.platform === 'discord') {\n  postId = response.id || null;\n}\n\nreturn [{ json: {\n  platform:         task.platform,\n  post_type:        task.post_type,\n  topic_slug:       task.topic_slug,\n  date_key:         task.date_key,\n  status:           'published',\n  platform_post_id: postId\n} }];"
      },
      "id": "d1e2f3a4-0014-0014-0014-000000000008",
      "name": "Handle API Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Write publish result to D1 social_publish_log.\nconst r = $input.item.json;\nconst attempt = Number.isFinite(Number(r.attempt)) ? Number(r.attempt) : 1;\nreturn [{ json: {\n  _d1_sql: `INSERT INTO social_publish_log\n    (topic_slug, date_key, asset_type, source_type, platform, post_type,\n     status, platform_post_id, error_message, attempt, created_at, updated_at)\n  VALUES (?, ?, 'daily_post', 'daily_summary', ?, ?, ?, ?, ?, ?,\n    strftime('%Y-%m-%dT%H:%M:%SZ','now'),\n    strftime('%Y-%m-%dT%H:%M:%SZ','now')\n  )`,\n  _d1_params: [\n    r.topic_slug,\n    r.date_key,\n    r.platform,\n    r.post_type || 'post',\n    r.status || 'published',\n    r.platform_post_id || null,\n    r.error_message || null,\n    attempt\n  ],\n  ...r,\n  attempt\n} }];"
      },
      "id": "d1e2f3a4-0014-0014-0014-000000000009",
      "name": "Build D1 Log Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://api.cloudflare.com/client/v4/accounts/{{ $vars.CF_ACCOUNT_ID }}/d1/database/{{ $vars.CF_D1_DATABASE_ID }}/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { sql: $json._d1_sql, params: $json._d1_params } }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "d1e2f3a4-0014-0014-0014-000000000010",
      "name": "Write Publish Log to D1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cloudflare-d1-api",
          "name": "CloudflareD1Api"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "api-skip",
              "leftValue": "={{ $json._api_skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "d1e2f3a4-0014-0014-0014-000000000015",
      "name": "Has API Config?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Log the skipped platform task so D1 can record it as 'skipped'.\nconst task = $input.item.json;\nreturn [{ json: {\n  platform:         task.platform,\n  post_type:        task.post_type,\n  topic_slug:       task.topic_slug,\n  date_key:         task.date_key,\n  status:           'skipped',\n  platform_post_id: null,\n  error_message:    task._api_skip_reason || 'Missing API credentials'\n} }];"
      },
      "id": "d1e2f3a4-0014-0014-0014-000000000016",
      "name": "Skip — Skipped Platform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        500
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Asset": {
      "main": [
        [
          {
            "node": "Should Publish?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Publish?": {
      "main": [
        [
          {
            "node": "Skip — Nothing to Publish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Expand Publish Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Publish Tasks": {
      "main": [
        [
          {
            "node": "Resolve API Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve API Endpoint": {
      "main": [
        [
          {
            "node": "Has API Config?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Platform API": {
      "main": [
        [
          {
            "node": "Handle API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle API Response": {
      "main": [
        [
          {
            "node": "Build D1 Log Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build D1 Log Write": {
      "main": [
        [
          {
            "node": "Write Publish Log to D1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has API Config?": {
      "main": [
        [
          {
            "node": "Skip — Skipped Platform",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Platform API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip — Skipped Platform": {
      "main": [
        [
          {
            "node": "Build D1 Log Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "errorWorkflow": "={{ $vars.FAILURE_NOTIFIER_WORKFLOW_ID }}"
  },
  "id": "daily-14-publish-social-channels-v1",
  "tags": [
    "daily",
    "social",
    "x",
    "telegram",
    "discord",
    "publishing",
    "v1"
  ]
}
