workflows/n8n/daily/15_youtube_upload.json
{
  "name": "Daily — 15 YouTube Upload",
  "nodes": [
    {
      "parameters": {},
      "id": "d1e2f3a4-0015-0015-0015-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Check prerequisites for YouTube upload.\n// Requires:\n//   - ENABLE_YOUTUBE_UPLOAD === 'true'\n//   - render_video_asset.status === 'completed'\n//   - render_video_asset.video_url present\n//   - youtube_metadata present with title and description\n//\n// When prerequisites are not met, the module skips gracefully\n// and returns skip_reason for logging.\n\nconst ctx = $input.first().json;\n\nconst enableUpload = $vars.ENABLE_YOUTUBE_UPLOAD || 'false';\nif (enableUpload !== 'true') {\n  return [{ json: { ...ctx, youtube_upload_skipped: true, skip_reason: 'ENABLE_YOUTUBE_UPLOAD is not true' } }];\n}\n\nconst render = ctx.render_video_asset;\nif (!render || render.status !== 'completed' || !render.video_url) {\n  const reason = !render\n    ? 'render_video_asset is missing'\n    : render.status !== 'completed'\n      ? `render_video_asset.status is '${render.status}', expected 'completed'`\n      : 'render_video_asset.video_url is missing';\n  return [{ json: { ...ctx, youtube_upload_skipped: true, skip_reason: reason } }];\n}\n\nconst meta = ctx.youtube_metadata;\nif (!meta || !meta.title || !meta.description) {\n  return [{ json: { ...ctx, youtube_upload_skipped: true, skip_reason: 'youtube_metadata is missing or incomplete' } }];\n}\n\nreturn [{ json: { ...ctx, youtube_upload_skipped: false } }];"
      },
      "id": "d1e2f3a4-0015-0015-0015-000000000002",
      "name": "Check Upload Prerequisites",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.youtube_upload_skipped }}",
              "value2": true
            }
          ]
        }
      },
      "id": "d1e2f3a4-0015-0015-0015-000000000003",
      "name": "Upload Skipped?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Log the skip and return context with null video ID.\nconst ctx = $input.first().json;\nreturn [{\n  json: {\n    ...ctx,\n    youtube_video_id: null,\n    youtube_upload_status: 'skipped',\n    youtube_upload_error: ctx.skip_reason || 'Upload prerequisites not met'\n  }\n}];"
      },
      "id": "d1e2f3a4-0015-0015-0015-000000000004",
      "name": "Return Skip Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Check Upload Prerequisites').first().json.render_video_asset.video_url }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "d1e2f3a4-0015-0015-0015-000000000005",
      "name": "Download Rendered Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "X-Upload-Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const ctx = $('Check Upload Prerequisites').first().json;\n  const meta = ctx.youtube_metadata;\n  const visibility = meta.visibility || $vars.YOUTUBE_DEFAULT_VISIBILITY || 'public';\n  const categoryId = $vars.YOUTUBE_CATEGORY_ID || '25';\n  return {\n    snippet: {\n      title: meta.title,\n      description: meta.description,\n      tags: meta.tags || [],\n      categoryId: categoryId\n    },\n    status: {\n      privacyStatus: visibility,\n      selfDeclaredMadeForKids: false\n    }\n  };\n})() }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "d1e2f3a4-0015-0015-0015-000000000006",
      "name": "Initiate YouTube Resumable Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        400
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "youtube-oauth2-credentials",
          "name": "YouTubeOAuth2"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract the resumable upload URL from the Location header.\n// The YouTube Data API v3 returns the upload URI in the Location header\n// of the 200 response to the initial resumable upload request.\nconst response = $input.first().json;\nconst uploadUrl = response?.headers?.location\n  || response?.Location\n  || response?.location;\n\nif (!uploadUrl) {\n  throw new Error('YouTube resumable upload initiation did not return a Location header. Response: ' + JSON.stringify(response).slice(0, 500));\n}\n\nreturn [{ json: { upload_url: uploadUrl } }];"
      },
      "id": "d1e2f3a4-0015-0015-0015-000000000007",
      "name": "Extract Upload URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.upload_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 300000
        }
      },
      "id": "d1e2f3a4-0015-0015-0015-000000000008",
      "name": "Upload Video to YouTube",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1560,
        400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract the YouTube video ID from the upload response.\n// The YouTube Data API returns the full video resource on successful upload.\nconst ctx = $('Check Upload Prerequisites').first().json;\nconst uploadResponse = $input.first().json;\n\nconst videoId = uploadResponse?.id;\nif (!videoId) {\n  throw new Error('YouTube upload response did not contain a video ID. Response: ' + JSON.stringify(uploadResponse).slice(0, 500));\n}\n\nconst visibility = ctx.youtube_metadata?.visibility || 'public';\n\nreturn [{\n  json: {\n    ...ctx,\n    youtube_video_id: videoId,\n    youtube_upload_status: 'published',\n    youtube_upload_error: null,\n    youtube_visibility: visibility\n  }\n}];"
      },
      "id": "d1e2f3a4-0015-0015-0015-000000000009",
      "name": "Extract Video ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $vars.PAGES_BASE_URL }}/api/internal/youtube-publish-log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Write-Key",
              "value": "={{ $vars.WRITE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  topic_slug: $json.topic_slug,\n  date_key: $json.date_key,\n  status: $json.youtube_upload_status,\n  youtube_video_id: $json.youtube_video_id ?? null,\n  visibility: $json.youtube_visibility ?? null,\n  attempt: 1,\n  error_message: $json.youtube_upload_error ?? null\n} }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "d1e2f3a4-0015-0015-0015-000000000010",
      "name": "Log Upload Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2000,
        300
      ],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "url": "={{ $vars.PAGES_BASE_URL }}/api/internal/workflow-logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Write-Key",
              "value": "={{ $vars.WRITE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  workflow_name: 'Daily — Orchestrator',\n  execution_id: $execution.id != null ? String($execution.id) : null,\n  topic_slug: $json.topic_slug,\n  date_key: $json.date_key,\n  event_type: $json.youtube_upload_status === 'published' ? 'completed' : ($json.youtube_upload_status === 'skipped' ? 'info' : 'failure'),\n  module_name: '15 YouTube Upload',\n  metadata_json: JSON.stringify({\n    youtube_video_id: $json.youtube_video_id ?? null,\n    youtube_upload_status: $json.youtube_upload_status,\n    skip_reason: $json.skip_reason ?? null,\n    error: $json.youtube_upload_error ?? null\n  })\n} }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "d1e2f3a4-0015-0015-0015-000000000011",
      "name": "Write Workflow Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2220,
        300
      ],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Check Upload Prerequisites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Upload Prerequisites": {
      "main": [
        [
          {
            "node": "Upload Skipped?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Skipped?": {
      "main": [
        [
          {
            "node": "Return Skip Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Rendered Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Skip Result": {
      "main": [
        [
          {
            "node": "Log Upload Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Rendered Video": {
      "main": [
        [
          {
            "node": "Initiate YouTube Resumable Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initiate YouTube Resumable Upload": {
      "main": [
        [
          {
            "node": "Extract Upload URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Upload URL": {
      "main": [
        [
          {
            "node": "Upload Video to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to YouTube": {
      "main": [
        [
          {
            "node": "Extract Video ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Video ID": {
      "main": [
        [
          {
            "node": "Log Upload Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Upload Result": {
      "main": [
        [
          {
            "node": "Write Workflow Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "errorWorkflow": "={{ $vars.FAILURE_NOTIFIER_WORKFLOW_ID }}"
  },
  "id": "daily-15-youtube-upload-v1",
  "tags": [
    "daily",
    "editorial",
    "youtube",
    "publishing",
    "v1"
  ]
}
