workflows/n8n/daily/rerun_daily_publish.json
{
  "name": "Daily \u2014 Rerun Failed Publish",
  "nodes": [
    {
      "parameters": {},
      "id": "rerun-daily-001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "rerun-daily-publish"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Validate the rerun request.\n// Expects: { topic_slug, date_key, source_id? }\nconst body = $input.first().json.body || $input.first().json;\nconst topic_slug = body.topic_slug;\nconst date_key = body.date_key;\nconst source_id = body.source_id || null;\n\nif (!topic_slug || !date_key) {\n  throw new Error('Missing required fields: topic_slug and date_key');\n}\n\nconst datePattern = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!datePattern.test(date_key)) {\n  throw new Error('Invalid date_key format. Expected YYYY-MM-DD');\n}\n\nreturn [{ json: { topic_slug, date_key, source_id, execution_id: $execution.id } }];"
      },
      "id": "rerun-daily-002",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $vars.PAGES_BASE_URL }}/api/internal/rerun-log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Write-Key",
              "value": "={{ $vars.WRITE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  rerun_type: 'daily_publish',\n  topic_slug: $json.topic_slug,\n  date_key: $json.date_key,\n  source_table: 'publish_jobs',\n  source_id: $json.source_id,\n  status: 'running',\n  triggered_by: 'operator',\n  workflow_run_id: $json.execution_id\n} }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "rerun-daily-003",
      "name": "Log Rerun Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        300
      ],
      "continueOnFail": false,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract the rerun_log id for later status update.\nconst resp = $input.first().json;\nconst rerun_id = resp?.id || null;\nconst ctx = $('Validate Request').first().json;\nreturn [{ json: { ...ctx, rerun_id } }];"
      },
      "id": "rerun-daily-004",
      "name": "Extract Rerun ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://api.cloudflare.com/client/v4/accounts/{{ $vars.CF_ACCOUNT_ID }}/d1/database/{{ $vars.CF_D1_DATABASE_ID }}/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  sql: \"SELECT id, status, attempt FROM publish_jobs WHERE topic_slug = ? AND date_key = ? AND status = 'failed' ORDER BY created_at DESC LIMIT 1\",\n  params: [$json.topic_slug, $json.date_key]\n}) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "rerun-daily-005",
      "name": "Check Failed Job Exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cloudflare-d1-credentials",
          "name": "CloudflareD1Api"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Verify a failed job exists before proceeding.\nconst resp = $input.first().json;\nconst jobs = resp?.result?.[0]?.results || [];\nconst ctx = $('Extract Rerun ID').first().json;\n\nif (jobs.length === 0) {\n  return [{ json: { ...ctx, _skip: true, skip_reason: 'No failed publish job found for this topic/date.' } }];\n}\n\nconst failedJob = jobs[0];\nconst newAttempt = (failedJob.attempt || 1) + 1;\n\nreturn [{ json: { ...ctx, failed_job_id: failedJob.id, new_attempt: newAttempt, _skip: false } }];"
      },
      "id": "rerun-daily-006",
      "name": "Validate Failed Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ]
        }
      },
      "id": "rerun-daily-007",
      "name": "Should Proceed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $vars.PAGES_BASE_URL }}/api/internal/publish-jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Write-Key",
              "value": "={{ $vars.WRITE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  topic_slug: $json.topic_slug,\n  date_key: $json.date_key,\n  status: 'running',\n  attempt: $json.new_attempt,\n  triggered_by: 'retry',\n  workflow_run_id: $json.execution_id\n} }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "rerun-daily-008",
      "name": "Create Retry Publish Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1780,
        200
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $vars.DAILY_ORCHESTRATOR_WORKFLOW_ID }}"
        },
        "options": {}
      },
      "id": "rerun-daily-009",
      "name": "Execute Daily Orchestrator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2000,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Determine final status from orchestrator result.\nconst orchResult = $input.first()?.json || {};\nconst ctx = $('Validate Failed Job').first().json;\nconst success = !orchResult.error;\nconst finalStatus = success ? 'success' : 'failed';\nconst errorMsg = success ? null : (orchResult.error?.message || 'Orchestrator returned an error');\n\nreturn [{ json: { ...ctx, final_status: finalStatus, error_message: errorMsg } }];"
      },
      "id": "rerun-daily-010",
      "name": "Evaluate Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $vars.PAGES_BASE_URL }}/api/internal/rerun-log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Write-Key",
              "value": "={{ $vars.WRITE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  id: $json.rerun_id,\n  status: $json.final_status,\n  error_message: $json.error_message\n} }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "rerun-daily-011",
      "name": "Log Rerun Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2440,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $vars.PAGES_BASE_URL }}/api/internal/rerun-log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Write-Key",
              "value": "={{ $vars.WRITE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  id: $('Extract Rerun ID').first().json.rerun_id,\n  status: 'skipped',\n  error_message: $json.skip_reason || 'No failed job found'\n} }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "rerun-daily-012",
      "name": "Log Rerun Skipped",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1780,
        400
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Log Rerun Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Rerun Start": {
      "main": [
        [
          {
            "node": "Extract Rerun ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Rerun ID": {
      "main": [
        [
          {
            "node": "Check Failed Job Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Failed Job Exists": {
      "main": [
        [
          {
            "node": "Validate Failed Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Failed Job": {
      "main": [
        [
          {
            "node": "Should Proceed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Proceed?": {
      "main": [
        [
          {
            "node": "Create Retry Publish Job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rerun Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Retry Publish Job": {
      "main": [
        [
          {
            "node": "Execute Daily Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Daily Orchestrator": {
      "main": [
        [
          {
            "node": "Evaluate Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Result": {
      "main": [
        [
          {
            "node": "Log Rerun Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "errorWorkflow": "={{ $vars.FAILURE_NOTIFIER_WORKFLOW_ID }}"
  },
  "id": "daily-rerun-publish-v1",
  "tags": [
    "daily",
    "rerun",
    "recovery",
    "publish",
    "v2"
  ]
}
